/*!
Theme Name: Bridge Child
Theme URI: http://demo.qodeinteractive.com/bridge/
Description: A child theme of Bridge Theme
Author: Longbeard
Author URI: https://www.longbeard.com
Version: 1.0.0
Template: bridge
*/

/******************************************************************
JMJ 
Site Name: TEC
Author: Longbeard

Stylesheet: Main Stylesheet
******************************************************************/

/*********************
IMPORT ELEMENTS
*********************/

// Sass variables
@import 'utilities/variables';

// typography
@import 'utilities/typography';

// import mixin
@import 'utilities/mixins';

// import vendors
@import 'vendor/slick';

/*********************
IMPORT PAGES
*********************/
// styles in base.scss
@import 'pages/base';

// Homepage
.page-id-9 {
    @import 'pages/homepage';
}

// About
.page-id-11 {
    @import 'pages/about/about';
}

// News & Stories
.blog,
.archive {
    @import 'pages/news';
}

// Contact
.page-id-19 {
    @import 'pages/contact';
}

// Why TEC
.page-id-62 {
    @import 'pages/about/whyTEC';
}

// Our Team
.page-id-68 {
    @import 'pages/about/ourTeam';
}

// Gifts & Supplies
.page-id-17 {
    @import 'pages/gifts-supplies';
}

// Partnerships landing
.page-id-13 {
    @import 'pages/partnerships/partnerships';
}

// Partnerships landing
.page-id-15 {
    @import 'pages/get-involved/getInvolved';
}

// Partnerships landing
.page-id-66 {
    @import 'pages/about/missionBackground';
}

// NYCFM
.page-id-72 {
    @import 'pages/partnerships/NYCFM';
}

// Our Bishops
.page-id-70 {
    @import 'pages/partnerships/ourBishops';
}

// Partners in Ministry
.page-id-74 {
    @import 'pages/partnerships/partners-in-ministry';
}

// Pray For TEC
.page-id-78 {
    @import 'pages/get-involved/prayForTEC';
}

// TEC Encounters
.page-id-82 {
    @import 'pages/get-involved/TECencounters';
}

// Support TEC
.page-id-166 {
    @import 'pages/get-involved/supportTEC';
}

// Volunteer
.page-id-84 {
    @import 'pages/get-involved/volunteer';
}

// TEC Communities
.page-id-64 {
    @import 'pages/about/communities';
}

// TEC Communities
.page-id-536 {
    @import 'pages/get-involved/community-resources';
}

// INTRANET
// Intranet Landing
.page-id-1234,
.page-id-1745 {
    @import 'pages/intranet/intranet-landing';
}
// Intranet Profile
.page-id-1237,
.page-id-1941,
.single-member {
    @import 'pages/intranet/intranet-profile';
}

// Intranet Directory
.post-type-archive-member {
    @import 'pages/intranet/intranet-directory';
}

// Spearkers Bureau
.page-id-1787,
.page-id-1947 {
    @import 'pages/intranet/speakers-bureau';
}

.page-id-1810,
.page-id-1957 {
    @import 'pages/intranet/videos';
}

// Intranet Registration + Edit Profile
.page-id-1262, 
.page-id-1271,
.page-id-1943,
.page-id-1945 {
    @import 'pages/intranet/registration';
}

// FORUM
// Forum Landing
.page-id-1567,
.page-id-1366 {
    @import 'pages/forum/forum-landing';
}


// Search
.search-results {
    @import 'pages/search';
}

// Post template
.single-post {
    @import 'pages/post';
}

// Post template
.single-gifts_supplies {
    @import 'pages/single-gifts-supplies';
}

// Post template
.error404 {
    @import 'pages/404';
}

/*********************
PRINT STYLESHEET
*********************/
@media print {
    // styles in print.scss
    @import 'utilities/print';
}