/******************************************************************

Stylesheet: FORUM | Forum Landing

Styles for Forum Landing page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

$small: .85rem;

#af-wrapper #forum-header {
	background-color: $color3;
}

#af-wrapper .title-element {
    background-color: $color3;
    border-color: $color3;

    .last-post-headline {
    	font-family: $primary;
    	font-style: normal;
    }
}

.ct-inner-content {
	@extend .intranet-body;
}

#af-wrapper {
	font: $body-font !important;
	color: $color-p;

	a {
		color: $color1;
		&:hover {
			color: $color1;
			text-decoration: none !important;
		}
	}

	.button {
		text-transform: uppercase !important;
		padding: 0 1rem !important;
		width: auto !important;

		&:not(:hover) {
			color: $color1 !important;
		}
	}

	input[type=submit] {
		font-family: $primary-bold;

		&:hover {
			background-color: $color1 !important;
		}
	}

	.highlight-admin, .highlight-admin a {
		color: $color1 !important;
	}
}

#af-wrapper #forum-navigation a, 
#af-wrapper #forum-navigation-mobile a {
	font: $h6;
	font-size: 0.889rem !important;
	padding: 0 22px;
	transition: $transition;

	@include breakpoint($tablet-break) {
		padding: 0 12px;
	}

	&:hover {
		color: $color4 !important;
	}
}

#af-wrapper #forum-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .clear {
    	display: none;
    }

    #forum-search {
    	width: 25%;

    	input[type=search] {
    		width: calc(100% - 50px);
    	}
    	
    	@include breakpoint(782px) {
    		width: 100%;
    	}
    }

    @include breakpoint(782px) {
    	flex-direction: column;

    	#forum-navigation-mobile {
    		padding: .5rem 0;
    	}

    	#forum-navigation {
    		padding: .5rem 0;

    		a {
    			padding-top: .5rem !important;
    			padding-bottom: .5rem !important;
    		}
    	}
    }
}

#af-wrapper .main-title {
	color: $color2;
	text-transform: uppercase;
	padding: 2rem 0;
	text-align: center;
}

.title-element {
	font: $h3;
	padding: 2rem !important;
	height: auto !important;
	text-transform: uppercase;
	// font-size: 0.889rem !important;

	.last-post-headline {

	}
}

.forum-status {
    padding: 1rem 2rem !important;
    font-size: 50px !important;
    // vertical-align: top !important;

    &:not(.read) {
    	i {
			color: $color1;
		}
    } 
}

.forum-name {
	padding: 2.25rem 0 !important;
}
.forum-title {
	font: $h4 !important;
	color: $color3 !important;
	margin-bottom: .5rem;
	transition: $transition;

	&:hover {
		color: $color1 !important;
	}
}

.forum-description {
	font: $h5 !important;
	margin-bottom: .5rem;
}

.forum-stats {
	font: $body-font !important;
	font-syle: italics;
}

.forum-poster {
	.forum-poster-avatar {

	}
	.forum-poster-summary {
		font: $body-font !important;

		> a {
			font: $h6 !important;

			&:not(:hover) {
				color: $black !important;
			}
		}

		> small {
			line-height: 1 !important;
			font-size: inherit;
		}
	}
	.no-topics {
		font: $h6 !important;
		color: $gray;
	}
}



#statistics {
    margin: 100px 0 0 0 !important;

    @include breakpoint($laptop-break) {
		margin-top: 80px !important;
	}

	@include breakpoint($tablet-break) {
		margin-top: 60px !important;
	}

    #statistics-elements {
	    // display: flex;
	    // flex-direction: row;
    	// justify-content: space-around;
    	display: grid;
    	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    	@include breakpoint($tablet-break-sml) {
    		// flex-direction: column;
    		// justify-content: center;
    		// align-items: center;
    		grid-template-columns: 1fr 1fr;

    		.statistics-element:last-child {
    			grid-column: span 2;
    		}
    	}

    	@include breakpoint($mobile-break) {
    		grid-template-columns: 1fr;
    		
    		.statistics-element:last-child {
    			grid-column: auto;
    		}
    	}

    	.statistics-element {
    		display: flex;
		    flex-direction: column;
		    width: 100%;
		    margin: 1.5rem 0 !important;

    		.element-number {
    			font: $h4;
    			margin-bottom: .5rem;

    			.statistics-element-icon {
    				color: $color4;
    			}
    		}
    		.element-name {
    			font: $body-font !important;
    			font-family: $primary-bold !important;
    			color: $color3;
    			text-transform: uppercase;
    		}
    	}

    }
}

#forum-breadcrumbs {
	font-size: 1rem !important;
    padding: 1rem 0 !important;

    &, a[property=item] > span {
    	color: $color1 !important;
    }
}

// MEMBERS

.member {
	.member-avatar {
		@extend .forum-status;
	}

	.member-name {
		@extend .forum-name;

		.profile-link {
			@extend .forum-title;
		}

		small {
			@extend .forum-stats;
			font-style: italic !important;
			color: $text-gray;
		}
	}
}

#bottom-navigation {
	font: $body-font;
	font-size: $small;

	a {
		font-size: $small !important;
	}
}




#af-wrapper .user-online .avatar {
    box-shadow: 0px 0px 5px $color4;
    border: 1px solid $color4;
}

// FORUM

.topic-status {
	@extend .forum-status;
}

.topic-name {
	@extend .forum-name;

	> a {
		@extend .forum-title;
		display: block;
	}

	> small:first-of-type {
		@extend .forum-description;
	}

	.topic-stats {
		@extend .forum-stats;
	}
}

.topic-poster {
	@extend .forum-poster;
}



.post-element {

	.post-author {
		.profile-link {
			@extend .forum-title;
			font-size: 1rem !important;
		}
		.mention-nice-name {
			font: $body-font !important;
			font-size: $small !important;
		}
	}
	.post-wrapper {
		.forum-post-header {
			padding: .5rem 0;

			.forum-post-date {
				font-size: $small !important;
				padding: 0;
			}
			.forum-post-menu {
				font-size: $small;
				padding: 0;

				a, .delete-forum-post {
					color: $color1 !important;
				}
			}
		}

		.post-footer {
			font-size: $small !important;
		}
	}
}

#subscriptions-panel {
	.action-panel-option {

	}
}

// ACTIVITY
.activity-element {
	padding-top: .25rem !important;
    padding-bottom: .25rem !important;
}

// ACTION PANEL 

.action-panel {
	.action-panel-option {
		transition: $transition;

		&:hover {
			box-shadow: 0 3px 6px rgba(0,0,0,0.16);
		}

		input[type=radio] {
			margin-right: .5rem !important;
		}
	}
}

// USERGROUP TAG

.af-usergroup-tag {
	font-size: 0.8889999999999999em;
	font-weight: 900;
    font-family: $primary-bold;
    font-style: normal;
    padding: .25rem .5rem !important;
    border-width: 2px !important;
}
