/******************************************************************

Stylesheet: NYCFM

Styles for NYCFM page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

// .lb-row-youtube {
//     background-color: $white;

//     .ct-columns-inner-wrap {
//         padding: 0 ($col-vw * 2);

//         @include breakpoint($tablet-break) {
//             padding: 0 $col-vw;
//         }

//         .ct-code-block {
//             position: relative;
//             padding-bottom: 56.25%;
//             padding-top: 35px;
//             height: 0;
//             overflow: hidden;

//             iframe {
//                 position: absolute;
//                 top: 0;
//                 left: 0;
//                 width: 100% !important;
//                 height: 100% !important;
//             }
//         }
//     }
// }

.lb-row-intro {
    .ct-code-block {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;

        iframe {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
        }
    }

    &::before,
    &::after {
        @include breakpoint($tablet-break) {
            top: $col-vw;
            transform: translateY(0);
        }


        @include breakpoint($mobile-break) {
            display: none;
        }
    }

    .ct-section-inner-wrap {
        @include breakpoint($tablet-break) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }


        h1 {
            margin-bottom: 2rem;

            @include breakpoint($tablet-break) {
                padding-left: $col-vw;
                padding-right: $col-vw;
                padding-bottom: 0 !important;

                @include margin-bottom($col-vw);
            }
        }
    }
}

.lb-row-national {
    padding-bottom: $col-vw;
    background-color: $white;
    position: relative;

    @include breakpoint($tablet-break) {
        padding-bottom: $col-vw * 1.5;
    }


    @include breakpoint($mobile-break) {
        padding-bottom: $col-vw * 2;
    }


    &::after {
        content: '';
        background-color: $color1;
        width: $col-vw * 3.5;
        height: $col-vw * 5;
        right: 0;
        top: 0;
        display: block;
        left: initial;
        bottom: initial;
        transform: translateY(0);
        position: absolute;

        @include breakpoint($tablet-break) {
            display: none;
        }
    }

    .ct-columns-inner-wrap {
        padding: 0 $col-vw;
        position: relative;
        z-index: 10;
        display: flex !important;
        flex-wrap: wrap;

        @include breakpoint($tablet-break) {
            padding: 0;
            flex-direction: column-reverse;
        }


        .ct-column {
            @include breakpoint($tablet-break) {
                width: 100% !important;
            }


            &:first-child {
                padding: 0 $col-vw;

                img {
                    max-width: $col-vw * 2.5;
                    margin-bottom: 2rem;

                    @include breakpoint($tablet-break) {
                        max-width: $col-vw * 5;
                    }


                    @include breakpoint($mobile-break) {
                        max-width: $col-vw * 7;
                    }
                }

                h2 {
                    padding-bottom: $header-space;
                }

                .button {
                    margin-top: $para-space;
                }
            }

            &:last-child {
                padding-right: $col-vw / 2;

                @include breakpoint($tablet-break) {
                    display: none;
                }
            }
        }
    }
}