/******************************************************************

Stylesheet: Our Bishops

Styles for Our Bishops page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.lb-row-moderator {
    padding-bottom: $col-vw;
    background-color: $white;

    &::after {
        bottom: (-$col-vw * 1.75) !important;
        z-index: 99;
    }

    .ct-columns-inner-wrap {
        padding: 0 ($col-vw * 1);

        @include breakpoint($tablet-break) {
            display: flex !important;
            flex-wrap: wrap-reverse;

            &::after {
                display: none;
            }
        }


        .ct-column {
            h3 {
                color: $color3 !important;
                font-family: $primary-bold !important;
            }

            &:first-child {
                padding-left: $col-vw;

                @include breakpoint($tablet-break) {
                    padding-right: $col-vw;
                    width: 100% !important;
                }


                @include breakpoint($mobile-break) {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            &:last-child {
                padding-left: $col-vw;
                padding-right: $col-vw / 2;
                position: relative;

                @include breakpoint($tablet-break) {
                    padding-left: $col-vw;
                    padding-right: $col-vw;

                    @include padding-bottom($col-vw);
                }


                @include breakpoint($mobile-break) {
                    padding-left: 0;
                    padding-right: 0;
                }


                &::before {
                    content: '';
                    width: $col-vw * 3.5;
                    height: $col-vw * 4.3333333;
                    background: $color1;
                    position: absolute;
                    left: $col-vw * 2.5;
                    z-index: 1;

                    @include breakpoint($tablet-break) {
                        width: $col-vw * 4;
                        height: calc(100% - #{$col-vw});
                        right: 0;
                        left: 50vw;
                    }


                    @include breakpoint(768px) {
                        right: $col-vw;
                        left: initial;
                    }


                    @include breakpoint($mobile-break) {
                        right: 0;
                        width: $col-vw * 5;
                    }
                }

                img {
                    position: relative;
                    z-index: 2;

                    @include breakpoint($tablet-break) {
                        width: $col-vw * 7;
                    }


                    @include breakpoint(768px) {
                        width: $col-vw * 6;
                    }


                    @include breakpoint($mobile-break) {
                        width: $col-vw * 9;
                    }
                }
            }
        }
    }

    .lb-staff {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;

        .lb-image {
            width: $col * 5;
            transform: translateX(#{$col-vw});
        }

        .lb-info {
            width: $col * 7;
        }
    }
}

.lb-row-committee {
    padding-bottom: $col-vw;
    background-color: $white;

    .ct-columns-inner-wrap {
        padding: 0 ($col-vw * 2);

        @include breakpoint($tablet-break) {
            padding: 0 $col-vw;
        }


        h2 {
            padding-bottom: 2rem;
            text-align: center;
        }

        .ct-text-block {
            padding-bottom: 3rem;
        }

        .ct-code-block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .bishop {
                width: $col-vw * 2.225;

                @include margin-bottom($col-vw / 2);

                @include breakpoint($tablet-break) {
                    width: $col-vw * 4.5;
                }


                @include breakpoint($mobile-break) {
                    width: 100%;

                    @include margin-bottom($col-vw);
                }


                .pic {
                    width: 100%;
                    margin-bottom: 1rem;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;

                    img {
                        height: auto;
                        width: 75%;
                    }
                }

                .info {
                    text-align: center;

                    h4 {
                        color: $color3;
                        margin: 0;
                        margin-bottom: 0.5rem;
                        font-weight: 800 !important;
                    }

                    h5 {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.lb-row-slider {
    padding: 0 $col-vw 0;
    background-color: $white;
    position: relative;

    h2 {
        text-align: center;
        padding-bottom: 1rem;
    }

    .slick-arrow {
        width: $col-vw / 4;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer !important;
        z-index: 99999;

        &.slick-prev {
            right: -$col-vw / 2;
        }

        &.slick-next {
            left: -$col-vw / 2;
        }
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            width: $col-vw * 8;
            margin: 1rem $col-vw;
            padding: $col-vw / 2;
            border-radius: 5px;
            position: relative;
            list-style: none;
            box-shadow: 0 0 15px transparentize($black, 0.84);
            display: flex;
            flex-direction: column;
            min-height: $col-vw * 3;
            justify-content: center;

            @include breakpoint($tablet-break) {
                padding: $col-vw;
            }

            @include breakpoint($mobile-break) {
                margin: $col-vw / 8;
            }


            .info {
                width: $col-vw * 4;
                z-index: 2;

                @include breakpoint($tablet-break) {
                    width: 100%;
                }
            }

            .pic {
                position: absolute;
                z-index: 1;
                right: 0;
                line-height: 0;
                bottom: 0;
                width: $col-vw * 3.25;

                @include breakpoint($tablet-break) {
                    width: 100%;
                    position: relative;
                    bottom: -$col-vw;
                }
            }
        }
    }
}