/******************************************************************

Stylesheet: Partners in Ministry

Styles for Partners in Ministry page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.lb-row-partners {
    .lb-two-col-text {
        position: relative;
        color: $white;

        .ct-column {
            min-height: $col-vw * 3.5;
            position: relative;

            @include breakpoint($tablet-break) {
                background-position: center top !important;
            }


            .ct-text-block {
                color: $white;

                &.read-more {
                    max-height: 7.5rem;
                    overflow: hidden;
                }

                &.contact {
                    display: none;
                }
            }

            &#ct_column_15_post_74,
            &#ct_column_97_post_74 {
                background-position: center center !important;
            }
        }

        .contact-info {
            width: 100%;
            height: 100%;
            padding: ($col-vw / 2) $col-vw;
            position: absolute;
            top: 0;
            left: 0;
            background: inherit;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: $transition;
            z-index: 9999;
            display: flex;
            flex-wrap: wrap;
            overflow: auto;

            /* width */
            &::-webkit-scrollbar {
                width: 10px;
                border-radius: 5px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: #EFEFEF;
                border-radius: 5px;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $color2;
                border-radius: 5px;
            }

            @include breakpoint($tablet-break) {
                padding: $col-vw ($col-vw * 2);
            }


            @include breakpoint($mobile-break) {
                padding: $col-vw;
            }


            .heading {
                width: 100%;
            }

            .back {
                width: $col-vw;
                cursor: pointer;
                font-family: $primary-bold;
                color: $white;

                @include breakpoint($tablet-break) {
                    width: $col-vw * 2;
                }
            }

            .contact-info-inner {
                width: calc(100% - #{$col-vw});
                height: 100%;
                display: block;

                @include breakpoint($tablet-break) {
                    width: calc(100% - #{$col-vw * 2});
                }
            }

            h3 {
                margin-top: 0;
                color: $white;
            }

            p {
                &:first-child {
                    margin-top: 0;
                }
            }

            &.active {
                opacity: 1;
                visibility: visible;
                pointer-events: initial;
            }
        }

        .read-more-info {
            width: 100%;
            height: 100%;
            padding: ($col-vw / 2) $col-vw;
            position: absolute;
            top: 0;
            left: 0;
            background: inherit;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: $transition;
            z-index: 9999;

            @include breakpoint($tablet-break) {
                padding: $col-vw ($col-vw * 2);
            }


            @include breakpoint($mobile-break) {
                padding: $col-vw;
            }


            .close {
                position: absolute;
                top: $col-vw / 2;
                right: $col-vw;
                cursor: pointer;
                font-family: $primary-bold;
                color: $white;
            }

            .read-more-info-inner {
                width: 100%;
                height: 100%;
                overflow: auto;
                padding-right: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                /* width */
                &::-webkit-scrollbar {
                    width: 10px;
                    border-radius: 5px;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    background: #EFEFEF;
                    border-radius: 5px;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: $color2;
                    border-radius: 5px;
                }
            }

            h3 {
                margin-top: 0;
                color: $white;

                @include breakpoint($mobile-break) {
                    //    padding-top: $col-vw * 1.75;
                }
            }

            p {
                &:first-child {
                    margin-top: 0;
                }
            }

            &.active {
                opacity: 1;
                visibility: visible;
                pointer-events: initial;
            }
        }

        .button-wrapper {
            .button {
                &:nth-child(n + 2) {
                    margin-left: 2rem;
                }
            }
        }
    }
}