/******************************************************************

Stylesheet: Partnerships landing

Styles for Partnerships landing page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.lb-row-tiles {
    .ct-columns-inner-wrap {
        display: flex !important;
        flex-wrap: wrap;

        .ct-column {
            width: calc(100% / 3) !important;
            padding: $col-vw / 2;
            min-height: $col-vw * 3.5;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-size: cover;
            background-position: top center;
            opacity: 0.9;
            transition: $transition;

            &:hover {
                opacity: 1;
            }

            a {
                width: 100%;
                padding: ($col-vw * 2) 0;
            }

            h2 {
                font-weight: 900 !important;
                color: $white;
            }

            @include breakpoint($tablet-break) {
                min-height: 40vh;
                width: ($col-vw * 12) !important;
            }
        }
    }
}

#ct_column_12_post_13 {
    @media screen and (max-width: 1024px) {
        background-position: 50% 20% !important;
    }

    @include breakpoint($mobile-break) {
        background-position: 50% 29% !important;
    }
}