/******************************************************************

Stylesheet: TEC Communities

Styles for Get involved landing page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

#ct_text_block_33_post_64 {
    padding: 0 $col-vw;
}

.lb-row-community {
    background-color: $white;
    text-align: center;

    h2 {
        padding-bottom: $header-space;
        color: $white;
        z-index: 1;
        text-transform: uppercase;
    }

    .ct-section-inner-wrap {
        > .ct-div-block {
            position: relative;

            @include padding-top($col-vw / 1.5);
            @include padding-bottom($col-vw / 1.5);

            @include breakpoint($mobile-break) {
                @include padding-top($col-vw);
                @include padding-bottom($col-vw);
            }


            > .ct-div-block {
                width: 100%;
                padding: 0 $col-vw;

                .button {
                    &:hover {
                        color: $color3 !important;
                    }
                }
            }
        }
    }
}

.map-section {
    padding: 0 $col-vw $col-vw !important;
    background-color: $white !important;

    img {
        width: initial;
        height: initial;
    }

    .prettyMapList {
        .mapHolder {
            height: 650px;

            @include breakpoint($mobile-break) {
                height: 400px;
            }
        }

        .viewLocationPage {
            @include btn($color1, $white);

            text-shadow: none !important;
        }

        .infoWindowContainer {
            max-width: 500px;
            width: 500px !important;
            transform: translateX(28%) !important;

            @include breakpoint($tablet-break) {
                max-width: 250px;
                width: 250px !important;
                transform: translateX(17vw) !important;
            }


            @include breakpoint(768px) {
                transform: translateX(22.5vw);
            }


            @include breakpoint($mobile-break) {
                transform: translateX(-2%) !important;
            }


            @include breakpoint(359px) {
                transform: translateX(-13%) !important;
            }


            .infoWindow {
                max-width: 500px;
                width: 500px !important;

                @include breakpoint($tablet-break) {
                    max-width: 250px;
                    width: 250px !important;
                }


                h3 {
                    background-color: $color1;
                    padding: 1rem 2rem;
                    text-align: center;
                    color: $white;

                    @include breakpoint($tablet-break) {
                        font-size: 1rem !important;
                    }


                    a {
                        color: $white;
                        text-align: center;
                        pointer-events: none;
                        cursor: default;
                        text-decoration: none;
                    }
                }

                .infowindowContent {
                    text-align: center;
                    padding-bottom: 2rem;

                    p {
                        font-size: 0.8rem !important;

                        > a {
                            display: none;
                        }
                    }

                    .btn {
                        font-size: 0.8rem !important;
                    }
                }
            }
        }

        // .gm-style > div > div:nth-child(3) > div > div:nth-child(4) {
        //     max-width: 450px !important;
        //     width: 100% !important;

        //     > div {
        //         max-width: 450px !important;
        //         width: 100% !important;
        //         text-align: center;

        //         > div {
        //             max-width: none !important;
        //             width: auto !important;
        //             border: 0;

        //             &:first-child {
        //                 border-top: 24px solid rgba(0, 0, 0, 0.9);
        //             }

        //             > div {
        //                 max-width: none !important;
        //                 width: 100% !important;
        //                 border: 0;
        //             }
        //         }
        //     }
        // }

        .gm-style-iw {
            // max-width: 450px !important;
            // width: 100% !important;
            // left: 0 !important;
            // top: 0 !important;
            text-align: center;

            // background-color: #fff;

            // .infowindowContent {
            //     padding: 0 20px 20px 20px;
            // }

            // div {
            //     max-width: none !important;
            //     width: 100% !important;
            //     text-align: center;
            // }

            // .gm-ui-hover-effect {
            //     display: none;
            // }

            h3 {
                color: $color1 !important;
                padding: 1rem !important;
                margin: 0 !important;
                text-align: center;

                a {
                    text-align: center;
                    margin: 0 auto;
                    display: block;
                    color: $color1 !important;
                }
            }
        }

        .prettyFileBar {
            background-color: $color3;
            padding: $col-vw / 2;
            margin-bottom: $col-vw / 4;

            h3 {
                text-transform: uppercase;
                color: $white;
                margin-top: 0;
                font-weight: 800 !important;

                @include breakpoint($mobile-break) {
                    font-size: 1.25rem !important;
                }
            }

            .multiCategoryFilter .btn {
                background: none;
                border: 0;
                border-bottom: 2px solid $white;
                border-radius: 0;
                color: $white;
                text-transform: uppercase;
                font-size: 1.1rem;
                margin-right: 2rem;
                padding-left: 0;
                padding-right: 42px;
                text-shadow: none;
                font-weight: 900;

                &::before {
                    display: none;
                }

                &::after {
                    background: transparent url("/wp-content/uploads/2018/11/down-arrow.png");
                    background-size: cover;
                    content: '';
                    display: block;
                    height: 21px;
                    right: 4px;
                    position: absolute;
                    top: 4px;
                    width: 19px;
                }
            }
        }

        .viewLocationDetail {
            span {
                &:nth-child(2) {
                    @include breakpoint($mobile-break) {
                        display: none;
                    }
                }
            }
        }

        .prettyListItems {
            .location {
                text-shadow: none;
                background: none;
                background-color: $gray;
                padding: $col-vw / 4;
                border-radius: 0;

                @include breakpoint($tablet-break) {
                    padding: $col-vw / 2;
                }


                @include breakpoint(450px) {
                    padding: $col-vw;
                }


                a {
                    &:not(.viewLocationPage) {
                        font-size: 1.2rem;
                        color: $black;
                        font-weight: 800;
                        margin-left: 2rem;
                        text-shadow: none;
                    }
                }

                &::after {
                    background: transparent url("/wp-content/uploads/2018/11/map-marker.svg") no-repeat 0 0;
                    background-size: cover;
                    display: block;
                    height: 34px;
                    left: 18px;
                    margin-right: 2px;
                    position: absolute;
                    top: 20px;
                    width: 30px;
                }

                .getDirections {
                    display: none;
                }
            }
        }

        // hide unnecessary options

        .sortList,
        .multiCategoryFilter > .customCategoryList:first-child,
        .mapcategories {
            display: none;
        }
    }
}