/******************************************************************

Stylesheet: Mission & Background

Styles for Mission & Background page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.lb-row-mission {

    b {
        color: $color3;
        font-family: 'AvenirNext-Bold';
    }

    padding: $col-vw 0;
    background-color: $white;
    position: relative;

    &::before {
        @include breakpoint($tablet-break) {
            right: -$col-vw / 8;
            bottom: 0;
            left: initial;
            transform: rotate(180deg);
        }


        @include breakpoint(920px) {
            display: none !important;
        }
    }

    &::after {
        content: '';
        background-color: $color1;
        width: $col-vw * 2.5;
        height: calc(100% - #{$col-vw});
        right: 0;
        top: $col-vw;
        display: block;
        left: initial;
        bottom: initial;
        transform: translateY(0);
        position: absolute;

        @include breakpoint($tablet-break) {
            height: $col-vw * 4;
        }


        @include breakpoint(920px) {
            display: none !important;
        }
    }

    .ct-columns-inner-wrap {
        padding-left: $col-vw;
        position: relative;
        z-index: 10;
        display: flex !important;
        flex-wrap: wrap;

        @include breakpoint($tablet-break) {
            padding-left: 0;
        }


        .ct-column {
            &:first-child {
                width: ($col-vw * 6) !important;
                padding: 0 $col-vw;

                @include breakpoint($tablet-break) {
                    width: ($col-vw * 6) !important;
                }


                @include breakpoint(920px) {
                    width: 100% !important;
                }


                h1 {
                    padding-bottom: $header-space;
                }
            }

            &:last-child {
                width: ($col-vw * 4.5) !important;
                padding-right: 0;

                @include breakpoint($tablet-break) {
                    width: ($col-vw * 5) !important;
                }


                @include breakpoint(920px) {
                    margin-top: $col-vw !important;
                    margin-bottom: $col-vw !important;
                    padding: 0 ($col-vw * 2) $col-vw $col-vw;
                    width: 100% !important;
                    position: relative;

                    &::after {
                        content: '';
                        background-color: $color1;
                        width: $col-vw * 5;
                        height: 100%;
                        right: $col-vw;
                        top: 0;
                        display: block;
                        position: absolute;
                        z-index: -1;
                    }
                }
            }
        }
    }
}

.lb-row-purpose {

    b {
        color: $color3;
        font-family: 'AvenirNext-Bold';
    }

    padding-bottom: $col-vw / 2;
    background-color: $white;

    @include breakpoint($tablet-break) {
        &::after,
        &::before {
            display: none;
        }
    }


    .ct-columns-inner-wrap {
        padding-right: $col-vw;
        display: flex !important;
        flex-wrap: wrap;
        align-items: center;

        @include breakpoint($tablet-break) {
            padding-right: 0;
        }


        .ct-column {
            &:first-child {
                //width: ($col-vw * 4) !important;
                width: 50% !important;

                @include breakpoint($tablet-break) {
                    width: ($col-vw * 5) !important;
                }


                @include breakpoint(920px) {
                    display: none !important;
                }
            }

            &:last-child {
                //width: ($col-vw * 7) !important;
                width: ($col-vw * 5) !important;

                //padding: $col-vw;
                padding-left: $col-vw;
                padding-bottom: 0;

                @include breakpoint($tablet-break) {
                    width: ($col-vw * 7) !important;
                    padding-top: $col-vw / 2;
                    padding-right: $col-vw;
                }


                @include breakpoint(920px) {
                    width: 100% !important;
                    padding-top: 0;
                }


                h1 {
                    padding-bottom: $header-space;
                }
            }
        }
    }
}

.lb-tabs {
    .theological {
        img {
            padding: 2rem $col-vw;
            height: auto;
        }
    }

    .history {
        img {
            padding: 2rem 0 1rem;
            height: auto;
        }

        .img-text {
            font-weight: bold;
            padding-bottom: 2rem;
        }
    }

    .saint {
        img {
            padding: 2rem 0;
            height: auto;
        }
    }

    .lb-tab-body {
        b {
            color: $color3;
            font-family: 'AvenirNext-Bold';
        }

        h4 {
            color: $color1;
            font-style: italic !important;
        }

        .img-text {
            font-family: 'AvenirNext-Bold';
        }

        .quote {
            padding-top: $col-vw / 2;
            padding-bottom: $col-vw / 4;
            transform: translateX(#{-$col-vw / 2});
            color: $color1;
            width: 50%;
            float: left;
            position: relative;

            div {
                font: $h4;
                padding-right: $col-vw * 0.9;
                font-family: 'AvenirNext-BoldItalic';
            }

            @include breakpoint($tablet-break) {
                width: 100%;
                float: none;
                transform: none;
            }


            svg {
                position: absolute;
                width: $col-vw !important;
                height: $col-vw !important;
                opacity: 0.2;
                z-index: -1;

                // top: $col-vw / 4;
                top: 0;
                left: -$col-vw / 4;
            }
        }

        .ct-text-block {
            &.right {
                width: 50%;
                float: left;
                padding-top: 1rem;
                padding-bottom: 1rem;

                @include breakpoint($tablet-break) {
                    width: 100%;
                    float: none;
                }
            }
        }
    }
}