/******************************************************************

Stylesheet: Our Team

Styles for Our Team page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.lb-tabs {
    .lb-tab-nav {
        padding-top: 0;
        
        .ct-columns-inner-wrap {
            .ct-column {
                &::before,
                &::after {
                    display: none;
                }
            }
        }
    }
}

@include breakpoint(359px) {
    .popup.team-contact {
        .popup-inner {
            h3 {
                width: 85%;
            }
        }

        #gform_fields_6 {
            li {
                margin-top: 0 !important;

                .ginput_container {
                    margin-top: 0;
                }

                &#field_6_4 {
                    textarea {
                        height: 80px;
                    }
                }
            }
        }
    }
}


// have a feild that is hidden
// #field_6_5 {
//     display: none;
// }

.lb-tab-body {
    &.staff {
        .lb-staff-wrapper {
            .lb-staff {
                display: flex;
                flex-wrap: wrap;
                padding-bottom: $col-vw / 2;

                .lb-image {
                    width: $col * 4;

                    @include breakpoint($mobile-break) {
                        width: $col * 12;
                        height: 250px;
                        margin-bottom: $col-vw;
                    }


                    .image {
                        width: 330px;
                        height: 310px;
                        background-position: top center;
                        background-size: cover;

                        @include image-border;

                        @include breakpoint($laptop-break) {
                            width: 280px;
                            height: 263px;
                        }


                        @include breakpoint($tablet-break) {
                            width: 95%;
                            height: 26vw;
                        }


                        @include breakpoint($mobile-break) {
                            height: 100%;
                            width: 80%;
                            margin: 0 auto;
                        }


                        @include breakpoint(359px) {
                            height: 95%;
                            width: 95%;
                        }
                    }
                }

                .lb-info {
                    width: $col * 8;
                    padding-left: $col-vw / 2;

                    @include breakpoint($mobile-break) {
                        width: $col * 12;
                    }


                    h3 {
                        margin: 0 !important;
                        color: $color3;
                        padding-bottom: $header-space;
                    }

                    h5 {
                        margin: 0 !important;
                        font-weight: 900 !important;

                        a {
                            color: $color-p;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }

    &.leadership {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: $col-vw / 2;

        #ct_image_30_post_68 {
            height: auto;
        }

        .ct-text-block {
            padding: ($col-vw / 2) $col-vw 0;
        }

        .lb-leadership-wrapper {
            padding: ($col-vw / 2) $col-vw 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .staff {
                width: $col * 4;
                text-align: center;
                padding: $col-vw / 2;
                display: flex;
                justify-content: center;

                @include breakpoint($tablet-break) {
                    width: $col * 6;
                }


                @include breakpoint($mobile-break) {
                    width: $col * 12;
                    justify-content: center;
                }


                .lb-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                }

                h3 {
                    margin: 0 !important;
                    color: $color3;
                    padding-bottom: $header-space;
                }

                h5 {
                    margin: 0 !important;
                    font-weight: 900 !important;
                    padding-bottom: $para-space;
                }

                p {
                    margin: 0 !important;
                    padding-bottom: $para-space;
                }

                .email {
                    display: none;
                }

                .button {
                    margin-top: 1rem;
                }

                // &:nth-child(1) {
                //     order: 2;
                // }

                // &:nth-child(2) {
                //     order: 3;
                // }

                // &:nth-child(3) {
                //     order: 17;
                // }

                // &:nth-child(4) {
                //     order: 12;
                // }

                // &:nth-child(5) {
                //     order: 9;
                // }

                // &:nth-child(6) {
                //     order: 4;
                // }

                // &:nth-child(7) {
                //     order: 7;
                // }

                // &:nth-child(8) {
                //     order: 1;
                // }

                // &:nth-child(9) {
                //     order: 10;
                // }

                // &:nth-child(10) {
                //     order: 6;
                // }

                // &:nth-child(11) {
                //     order: 5;
                // }

                // &:nth-child(12) {
                //     // order: 12;

                // }

                // &:nth-child(13) {
                //     order: 8;
                // }

                // &:nth-child(14) {
                //     // order: 10;

                // }

                // &:nth-child(15) {
                //     // order: 10;

                // }

                // &:nth-child(15) {
                //     // order: 10;

                // }

                // &:nth-child(17) {
                //     order: 11;
                // }
           
            }
        }

        .regional-map {
            margin-top: $col-vw / 2;

            h3 {
                span {
                    color: $color2;
                    text-transform: uppercase;
                    padding-bottom: 2rem;
                    font: $h3 !important;
                    text-transform: uppercase;
                }
            }

            #ct_image_42_post_68 {
                width: 100%;
                padding: ($col-vw / 2) ($col-vw * 2);

                @include breakpoint($mobile-break) {
                    padding: ($col-vw / 2) 0;
                }
            }
        }
    }
}