/******************************************************************

Stylesheet: Why Tec

Styles for  Why Tec page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.lb-row-intro {
    .ct-text-block {

    }
}

.lb-row-tiles {
    .ct-columns-inner-wrap {
        display: flex !important;
        flex-wrap: wrap;

        .ct-column {
            width: ($col * 4) !important;
            padding: $col-vw / 2;
            position: relative;
            text-align: center;
            background-size: cover !important;
            background-position: center !important;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include breakpoint($laptop-break-sml) {
                width: ($col * 12) !important;
                padding: $col-vw * 2;
                min-height: 500px;
            }


            &:hover,
            &.active,
            &:active,
            &:focus {
                .overlay {
                    opacity: 0;
                    visibility: hidden;
                }

                .info {
                    opacity: 1;
                }

                &::before {
                    opacity: 1;
                }
            }

            .ct-headline,
            .ct-text-block {
                color: $white;
            }

            .overlay {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                text-align: center;
                opacity: 1;
                transition: $transition-slow;
                z-index: 7;

                h3 {
                    padding-bottom: 0;
                    padding-top: $header-space;
                    opacity: 1;
                }

                img {
                    width: 70px;
                    display: inline-block;
                }
            }

            .slide-wrapper {
                width: 100%;
                position: relative;

                .slick-arrow {
                    width: $col-vw / 4;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;

                    &.slick-prev {
                        right: -$col-vw / 3 * 1.25;
                    }

                    &.slick-next {
                        left: -$col-vw / 3 * 1.25;
                    }
                }
            }

            .info {
                position: relative;
                opacity: 0;
                transition: $transition-slow;
                transition-delay: 0.5;
                z-index: 8;
            }

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.7;
                transition: $transition-slow;
            }

            &:nth-child(1),
            &:nth-child(6) {
                &::before {
                    background-color: $color3;
                }
            }

            &:nth-child(3),
            &:nth-child(5) {
                &::before {
                    background-color: $color4;
                }
            }

            &:nth-child(2),
            &:nth-child(4) {
                &::before {
                    background-color: $color1;
                }
            }

            h3 {
                padding-bottom: $header-space;
            }
        }
    }
}