// /******************************************************************

// Stylesheet: About

// Styles for About page ONLY. If the styles will be used across the site,
// use the _base.scss file.

// ******************************************************************/
// .lb-row-why-tec {
//     background-color: $white;

//     .ct-columns-inner-wrap {
//         display: flex !important;
//         flex-wrap: nowrap;

//         @include breakpoint($tablet-break) {
//             flex-wrap: wrap;
//         }


//         .ct-column {
//             @include breakpoint($tablet-break) {
//                 width: 100% !important;
//             }


//             &:first-child {
//                 padding: $col-vw;

//                 h1 {
//                     padding-bottom: $header-space;
//                 }

//                 h3 {
//                     color: $color3;
//                     padding-bottom: $para-space;
//                 }

//                 .button {
//                     margin-top: $para-space;
//                 }
//             }

//             &:last-child {
//                 background-position: center;
//                 background-size: cover;

//                 @include breakpoint($tablet-break) {
//                     display: none !important;
//                 }
//             }
//         }
//     }
// }

// .lb-row-volunteer {
//     padding: $col-vw;
//     background-color: $white;
//     position: relative;

//     @include breakpoint($tablet-break) {
//         padding: 0;
//         padding-bottom: $col-vw;
//     }


//     &:before {
//         content: '';
//         display: block;
//         width: $col-vw * 4;
//         height: calc(100% - #{$col-vw * 2});
//         position: absolute;
//         top: $col-vw !important;
//         left: 0;
//         transform: translateY(0) !important;
//         background-color: $color1;
//         z-index: 1;

//         @include breakpoint($tablet-break) {
//             width: $col-vw * 3;
//         }
//     }

//     .ct-columns-inner-wrap {
//         display: flex !important;
//         flex-direction: column;
//         z-index: 10;
//         position: relative;

//         .ct-column {
//             &:first-child {
//                 width: ($col-vw * 8) !important;
//                 align-self: flex-start;

//                 @include breakpoint($mobile-break) {
//                     width: 100% !important;
//                     padding: 0 $col-vw $col-vw;
//                     position: relative;

//                     &:before {
//                         content: '';
//                         display: block;
//                         width: $col-vw * 8;
//                         height: 100%;
//                         position: absolute;
//                         top: 0;
//                         left: 0;
//                         background-color: $color1;
//                         z-index: 1;
//                     }
//                 }


//                 img {
//                     z-index: 10;
//                     position: relative;
//                 }
//             }

//             &:last-child {
//                 width: ($col-vw * 7) !important;
//                 padding: $col-vw;
//                 padding-bottom: 0;
//                 text-align: left;
//                 align-self: flex-end;

//                 @include breakpoint(1280px) {
//                     padding-right: $col-vw / 3;
//                 }


//                 @include breakpoint($tablet-break) {
//                     width: ($col-vw * 9) !important;
//                     padding-right: $col-vw * 1.5;
//                 }


//                 @include breakpoint($mobile-break) {
//                     width: 100% !important;
//                     padding: $col-vw;
//                 }


//                 .button {
//                     margin-top: $para-space * 2;
//                 }

//                 .ct-headline {
//                     padding-bottom: $header-space;
//                 }
//             }
//         }
//     }
// }

// .lb-row-mission {
//     background-color: $color1;
//     padding: $col-vw 0;
//     position: relative;
//     overflow: hidden;

//     &:before {
//         content: url("/wp-content/uploads/2018/03/wheat-light-white.svg");
//         position: absolute;
//         width: $col-vw * 4.25;
//         left: $col-vw * 2.5;
//         bottom: -40px;
//     }

//     text-align: center;

//     .mission {
//         .ct-columns-inner-wrap {
//             padding: 0 $col-vw $col-vw;
//             display: flex !important;
//             flex-wrap: nowrap;

//             @include breakpoint($tablet-break) {
//                 flex-wrap: wrap;
//             }


//             .ct-column {
//                 &:first-child {
//                     width: ($col-vw * 4) !important;

//                     @include breakpoint($tablet-break) {
//                         width: ($col-vw * 5) !important;
//                         padding-bottom: $col-vw;
//                     }


//                     img {
//                         width: 100%;
//                         padding-right: $col-vw;

//                         @include breakpoint($tablet-break) {
//                             padding-right: 0;
//                         }
//                     }
//                 }

//                 &:last-child {
//                     background-color: $white;
//                     border-radius: 30px;
//                     box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
//                     width: ($col-vw * 6) !important;
//                     padding: $col-vw / 2;
//                     text-align: left;

//                     @include breakpoint($tablet-break) {
//                         width: 100% !important;
//                         padding-bottom: $col-vw;
//                     }


//                     h1 {
//                         padding-bottom: $header-space;
//                     }
//                 }
//             }
//         }
//     }

//     .history {
//         .ct-columns-inner-wrap {
//             padding: 0 $col-vw $col-vw;
//             display: flex !important;
//             flex-wrap: nowrap;

//             @include breakpoint($tablet-break) {
//                 flex-wrap: wrap-reverse;
//             }


//             @include breakpoint($tablet-break) {
//                 justify-content: flex-end;
//             }


//             @include breakpoint($mobile-break) {
//                 padding-top: $col-vw;
//             }


//             .ct-column {
//                 &:last-child {
//                     width: ($col-vw * 4) !important;

//                     @include breakpoint($tablet-break) {
//                         width: ($col-vw * 5) !important;
//                         padding-bottom: $col-vw;
//                     }


//                     img {
//                         width: 100%;
//                         padding-left: $col-vw;

//                         @include breakpoint($tablet-break) {
//                             padding-left: 0;
//                             padding-right: $col-vw;
//                         }


//                         @include breakpoint($mobile-break) {
//                             padding-right: 0;
//                         }
//                     }
//                 }

//                 &:first-child {
//                     background-color: $white;
//                     border-radius: 30px;
//                     box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
//                     width: ($col-vw * 6) !important;
//                     padding: $col-vw / 2;
//                     text-align: left;

//                     @include breakpoint($tablet-break) {
//                         width: 100% !important;
//                     }


//                     h1 {
//                         padding-bottom: $header-space;
//                     }
//                 }
//             }
//         }
//     }
// }

// .lb-row-team {
//     padding: $col-vw 0;
//     background-color: $white;

//     .ct-columns-inner-wrap {
//         padding: 0 $col-vw;
//         display: flex !important;
//         flex-wrap: wrap;

//         .ct-column {
//             width: 50% !important;

//             @include breakpoint($mobile-break) {
//                 width: 100% !important;
//             }


//             &:first-child {
//                 background-position: center;
//                 background-size: cover;
//             }

//             &:last-child {
//                 padding: $col-vw 0 $col-vw $col-vw;

//                 h1 {
//                     padding-bottom: $header-space;
//                 }

//                 .button {
//                     margin-top: $para-space;
//                 }
//             }
//         }
//     }
// }