/******************************************************************

Stylesheet: Universal Site Styles

Only put styles in here that will be used across the entire site.
For styles only applying to one particular page, use the appropriate
page SCSS file.

******************************************************************/
/*********************
GENERAL STYLES
*********************/
@import '../elements/typography';

/*********************
HEADER & NAV STYLES
*********************/

@import '../elements/header';

/*********************
UI MASTER PAGE STYLES
*********************/
.page-id-2 {
    .lb-first {
        .ct-section-inner-wrap {
            padding: 0 $col-vw;

            > * {
                margin: ($col-vw / 4) 0;
            }
        }
    }
}

.ct-inner-content {
    overflow-x: hidden;
}

/*********************
GLOBAL ELEMENTS
*********************/
/*********************
Please add global elements as a partial to the 'elements' folder and import here. 
Example of great canidates are title areas, accordions, or tabs.
*********************/

@import '../elements/buttons';
@import '../elements/forms';
@import '../elements/tabs';
@import '../elements/row-intro';
@import '../elements/row-newsletter';
@import '../elements/two-col-one-text';
@import '../elements/side-bubbles';
@import '../elements/blog';
@import '../elements/testimonies';
@import '../elements/calendar';
@import '../elements/modal';
@import '../elements/row-columns';
@import '../elements/accordions';

@import '../elements/intranet-header';

/*********************
FOOTER STYLES
*********************/

@import '../elements/footer';