/******************************************************************

Stylesheet: Contact

Styles for Contact page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
#ct_column_22_post_19 {
    @include breakpoint($tablet-break) {
        width: 40vw !important;
        height: auto !important;
    }


    @include breakpoint($mobile-break) {
        width: 83vw !important;
    }
}

#ct_code_block_11_post_19 {
    text-align: center;
}

#ct_column_23_post_19 {
    @include breakpoint($tablet-break) {
        width: 60vw !important;
    }


    @include breakpoint($mobile-break) {
        width: 100vw !important;
    }
}

.lb-row-maps {
    background-color: $white;

    .ct-columns-inner-wrap {
        display: flex !important;
        flex-wrap: wrap-reverse;

        .ct-column {
            @include breakpoint(768px) {
                width: 100% !important;
            }


            &:first-child {
                width: 50% !important;

                @include breakpoint(768px) {
                    width: ($col-vw * 12) !important;
                    height: $col-vw * 10;
                }


                .ct-code-block {
                    position: relative;
                    padding-bottom: 90%;
                    padding-top: 35px;
                    height: 0;
                    overflow: hidden;

                    @include breakpoint(768px) {
                        padding-bottom: 40vh;
                    }


                    iframe {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100% !important;
                        height: 100% !important;
                    }
                }
            }

            &:last-child {
                width: 50% !important;
                padding: $col-vw;

                @include breakpoint(768px) {
                    padding: $col-vw;
                    width: ($col-vw * 7) !important;
                }


                @include breakpoint(768px) {
                    width: ($col-vw * 12) !important;

                    @include padding-top($col-vw);
                    @include padding-bottom($col-vw);
                }


                .ct-headline {
                    padding-bottom: $header-space * 2;
                }

                .ct-text-block {
                    line-height: 2rem !important;

                    span {
                        padding-left: 75px;
                        position: relative;

                        &::before {
                            width: 50px;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        &:nth-of-type(1) {
                            &::before {
                                content: url("/wp-content/uploads/2018/03/ContactMarker.svg");
                                height: 60px;
                            }
                        }

                        &:nth-of-type(2) {
                            &::before {
                                content: url("/wp-content/uploads/2018/03/ContactPhone.svg");
                                height: 40px;
                            }
                        }

                        &:nth-of-type(3) {
                            &::before {
                                content: url("/wp-content/uploads/2018/03/ContactMail.svg");
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.lb-row-pray {
    .ct-section-inner-wrap {
        @include breakpoint($tablet-break) {
            padding-left: $col-vw * 2;
            padding-right: $col-vw * 2;
        }


        @include breakpoint($mobile-break) {
            padding-left: $col-vw;
            padding-right: $col-vw;
        }


        input {
            color: $white !important;

            &:hover {
                border-color: $white !important;
            }
        }
    }
}

#ct_headline_50_post_19 {
    color: #fff;
}

#ct_section_12_post_19 {
    #field_8_3,
    #field_8_4 {
        margin-top: 2rem;
    }
}

#ct_columns_41_post_9 {
    display: none;
}

.lb-row-blog {
    .ct-columns {
        text-align: center;
        padding: $col-vw 0;
        background-position: center;
        background-size: cover;

        @include breakpoint($tablet-break) {
            padding: ($col-vw * 2) 0;
        }


        @include breakpoint($mobile-break) {
            padding: ($col-vw * 4.5) 0;
        }


        .button {
            &:hover {
                color: $color3 !important;
            }
        }
    }
}