/******************************************************************

Stylesheet: Gifts & Supplies

Styles for Gifts & Supplies page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
#ct_section_3_post_17 {
    padding-left: $col-vw / 3 * 2;
    padding-right: $col-vw / 3 * 2;

    @include breakpoint($tablet-break) {
        padding-left: $col-vw / 4 * 3;
        padding-right: $col-vw / 4 * 3;
    }


    @include breakpoint($mobile-break) {
        padding-left: $col-vw;
        padding-right: $col-vw;
    }


    .lb-tab-nav {
        .ct-columns-inner-wrap {
            &::before {
                display: none;
            }
        }
    }

    .lb-tab-body {
        padding: 0 !important;

        @include breakpoint($mobile-break) {
            padding-left: $col-vw !important;
            padding-right: $col-vw !important;
        }
    }

    // .journals {
    //     .item-list {
    //         justify-content: flex-start !important;
    //     }
    // }

    .item-list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        // justify-content: space-around;
        justify-content: space-between;

        .item {
            width: $col-vw * 2;
            //margin: 0 ($col-vw / 3);
            margin: 0 ($col-vw / 4);
            margin-bottom: $col-vw / 3 * 2;

            @include breakpoint($tablet-break) {
                width: $col-vw * 3;
                margin: 0 ($col-vw / 4);
                margin-bottom: $col-vw * 0.75;
            }


            @include breakpoint($mobile-break) {
                width: 100%;
                margin: 0;

                @include margin-bottom($col-vw);

                &:last-child {
                    margin-bottom: $col-vw !important;
                }
            }


            a {
                text-decoration: none;

                &:hover {
                    .image {
                        transform: scale(1.025);
                    }
                }

                .image {
                    line-height: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: $col-vw * 2;
                    max-height: $col-vw * 2;
                    overflow: hidden;
                    transition: $transition;

                    @include breakpoint($tablet-break) {
                        max-width: $col-vw * 3;
                        max-height: $col-vw * 3;
                    }


                    @include breakpoint($mobile-break) {
                        max-width: $col-vw * 8;
                        max-height: $col-vw * 8;
                    }
                }

                .info {
                    margin-top: 1rem;

                    .title {
                        color: $black;
                        font-family: $primary-bold;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

// bottom red section
#ct_section_5_post_17 {
    @include padding-bottom($col-vw / 3);
    @include padding-top($col-vw / 3);

    .ct-text-block {
        a {
            color: $white;
            text-decoration: none;
            font-family: $primary-bold !important;
        }
    }
}