/******************************************************************

Stylesheet: Home Page

Styles for Homepage ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.lb-row-hero {
    height: calc(100vh - 133px);
    background-color: $color1;
    position: relative;

    .background-hero-image {
        position: absolute;
        background-image: url(/wp-content/uploads/2019/01/Kristen-Fayard-IMG_4011-web-min.png);
        background-size: cover;
        background-position: center;
        left: 0;
        top: 0;
        width: 45%;
        margin-top: -150px;
        height: calc(100vh + 16px);

        @include breakpoint($tablet-break) {
            width: 50%;
            background-position: 25% 50%;
        }


        @include breakpoint($mobile-break) {
            background-image: url(/wp-content/uploads/2019/01/Kristen-Fayard-IMG_4011-M-min.png);
            margin-top: -80px;
            background-position: 25% 13%;
            height: calc(100vh - 53px);
        }
    }

    .arrow {
        position: absolute;
        width: 50px;
        bottom: $col-vw / 1.75;
        left: 50%;
        transform: translateX(-50%);
        box-sizing: initial;
        padding: 20px;
        animation: home-arrow 2.25s ease-in-out infinite;

        @include breakpoint($mobile-break) {
            width: 30px;
        }


        @at-root {
            @keyframes home-arrow {
                0% {
                    transform: translateX(-50%) translateY(-25%);
                    opacity: 0;
                }

                40% {
                    transform: translateX(-50%) translateY(0%);
                    opacity: 1;
                }

                80% {
                    transform: translateX(-50%) translateY(25%);
                    opacity: 0;
                }

                100% {
                    transform: translateX(-50%) translateY(25%);
                    opacity: 0;
                }
            }
        }
    }

    .ct-section-inner-wrap {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .ct-columns {
            margin-bottom: $col-vw;
            text-align: center;
            position: relative;

            @include breakpoint($mobile-break) {
                h1 {
                    font-size: 2rem !important;
                }
            }


            #ct_div_block_56_post_9 {
                transform: translateX(#{-$col-vw / 3});

                @include breakpoint($mobile-break) {
                    transform: translateX(0);
                }


                h1 {
                    display: inline-block;

                    &:first-child {
                        font-family: $primary !important;
                        font-weight: 600 !important;
                        color: $white;
                    }

                    &:last-child {
                        padding-left: 1rem;
                        
                    }
                }
            }

            #ct_div_block_63_post_9 {
                h1 {
                    display: inline-block;
                    color: $white;

                    &:last-child {
                        padding-left: 1rem;
                    }
                }
            }

            #ct_div_block_68_post_9 {
                transform: translateX(#{$col-vw * 1.5});

                h1 {
                    display: inline-block;

                    &:first-child {
                        font-family: $primary !important;
                        font-weight: 600 !important;
                         color: $white;
                    }

                    &:last-child {
                        padding-left: 1rem;
                       
                    }
                }
            }
        }
    }
}

.lb-row-who-we-are {
    background-color: $white;

    .ct-columns-inner-wrap {
        display: flex !important;
        align-items: center;

        .ct-column {
            padding: $col-vw $col-vw $col-vw ($col-vw / 2);
            width: 50% !important;

            @include breakpoint(767px) {
                width: 100% !important;
            }


            @include breakpoint($mobile-break) {
                padding: $col-vw;
            }


            &:first-child {
                padding-bottom: 0;
                display: flex;
                align-items: flex-end;
                overflow: hidden;

                @include breakpoint($tablet-break) {
                    display: initial;
                }


                @include breakpoint(767px) {
                    display: none;
                }


                img {
                    width: 100%;
                    margin-bottom: -10px;

                    @include breakpoint($tablet-break) {
                        position: relative;
                        width: 500px !important;

                        //bottom: -140px;
                        bottom: 0px;
                        left: -120px;
                    }


                    @include breakpoint(1000px) {
                        left: -170px;

                        //bottom: -140px;
                    }
                }
            }

            h1 {
                padding-bottom: $header-space;
            }

            h3 {
                padding-bottom: 0.2rem;

            }

            .ct-text-block {
                padding-top: $para-space;
                padding-bottom: $para-space * 2;

                @include breakpoint($tablet-break) {
                    padding-top: $para-space * 2;
                    padding-bottom: $para-space * 3;
                }
            }
        }
    }
}

.lb-row-blog {
    background-color: $white;

    .ct-columns {
        padding-top: $col-vw;

        .ct-code-block {
            text-align: center;
        }
    }
}

.lb-row-testimonies {
    padding: $col-vw;
    background-color: $white;

    h1 {
        text-align: center;
        padding-bottom: $col-vw;
    }
}