/******************************************************************

Stylesheet: News

Styles for News page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.lb-blog {
    article {
        background-color: $white;

        &:nth-child(odd) {
            .lb-blog-cols {
                .categories a {
                    &:hover {
                        border-color: #bdbdbd !important;
                    }

                    span {
                        font-family: $primary;
                        color: #bdbdbd !important;
                    }
                }
            }

            .page-title {
                a {
                    color: $color2 !important;
                }
            }

            .date {
                color: $color3 !important;
            }
        }

        &:nth-child(even) {
            background-color: $color1;
            color: $white;

            .button {
                @include btn($white, $color1);

                &::after {
                    background: $white !important;
                }
            }
        }
    }

    .lb-row-paganation {
        background-color: $white;

        //padding: $col-vw / 2;
        padding: 0;
        text-align: center;

        .nav-links {
            display: inlne-block;
            width: auto;

            .page-numbers {
                @include btn($color1, $white);

                font-size: 1rem !important;
                border-radius: 12px !important;
                margin: 0 calc(1rem / 3);
            }
        }
    }
}