// /******************************************************************

// Stylesheet: Our Bishops

// Styles for Our Bishops page ONLY. If the styles will be used across the site,
// use the _base.scss file.

// ******************************************************************/

// .lb-row-moderator {
//     padding-bottom: $col-vw;
//     background-color: $white;

//     .ct-columns-inner-wrap {
//         padding: 0 ($col-vw * 2);
//     }

//     &.bubbles.left.bottom-left:before {
//         bottom: 0 !important;
//     }

//     .lb-staff {
//         display: flex;
//         flex-wrap: wrap;
//         flex-direction: row-reverse;

//         .lb-image {
//             width: $col * 5;
//             transform: translateX(#{$col-vw});

//             // .image {
//             //     clip-path: ellipse(40% 45% at 50% 50%);
//             //     width: 100%;
//             //     height: 56%;
//             //     background-position: center;
//             //     background-size: cover;
//             //     position: relative;

//             //     &:after {
//             //         content: '';
//             //         display: block;
//             //         width: 110%;
//             //         height: 110%;
//             //         position: absolute;
//             //         top: 50%;
//             //         right: 50%;
//             //         transform: translate(-50%, -50%) rotate(35deg);
//             //         background-color: $color1;
//             //         z-index: -1;
//             //         clip-path: ellipse(49% 45% at 50% 50%);
//             //     }
//             // }
       
//         }

//         .lb-info {
//             width: $col * 7;
//         }
//     }
// }

// .lb-row-committee {
//     padding-bottom: $col-vw;
//     background-color: $white;

//     .ct-columns-inner-wrap {
//         padding: 0 ($col-vw * 2);

//         h2 {
//             padding-bottom: $col-vw / 2;
//             text-align: center;
//         }

//         .lb-staff-wrapper {
//             display: flex;
//             flex-direction: row;
//             flex-wrap: wrap;

//             .lb-staff {
//                 width: $col * 4;
//                 text-align: center;
//                 padding: $col-vw / 4;

//                 @include breakpoint($tablet-break) {
//                     width: $col * 6;
//                 }


//                 @include breakpoint($mobile-break) {
//                     width: $col * 12;
//                 }


//                 .lb-image {
//                     width: 250px;
//                     height: 250px;
//                     margin: 0 auto;
//                     margin-bottom: 1rem;

//                     @include breakpoint($mobile-break) {
//                         margin-bottom: $col-vw;
//                     }


//                     .image {
//                         width: 100%;
//                         max-width: 330px;
//                         height: 100%;
//                         background-position: top center;
//                         background-size: cover;
//                         border-radius: 45%;

//                         @include breakpoint($mobile-break) {
//                             height: 100%;
//                             width: 80%;
//                             margin: 0 auto;
//                         }
//                     }
//                 }

//                 h3 {
//                     margin: 0 !important;
//                     color: $color3;
//                     padding-bottom: $header-space;
//                 }

//                 h5 {
//                     margin: 0 !important;
//                     font-weight: 900 !important;
//                     padding-bottom: $para-space;
//                 }

//                 p {
//                     margin: 0 !important;
//                     padding-bottom: $para-space;
//                 }
//             }
//         }
//     }
// }

// .lb-row-slider {
//     padding: $col-vw $col-vw 0 $col-vw;
//     background-color: $color1;
//     position: relative;
//     overflow: hidden;

//     &:before {
//         content: url("/wp-content/uploads/2018/03/wheat-light-white.svg");
//         position: absolute;
//         width: $col-vw * 2;
//         left: $col-vw * 2.5;
//         bottom: -20px;
//     }
// }

