/******************************************************************

Stylesheet: Our Team

Styles for Our Team page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/


// .lb-tab-body {
//     &.staff {
//         .lb-staff-wrapper {
//             .lb-staff {
//                 display: flex;
//                 flex-wrap: wrap;
//                 padding-bottom: $col-vw / 2;

//                 .lb-image {
//                     width: $col * 4;

//                     @include breakpoint($mobile-break) {
//                         width: $col * 12;
//                         height: 250px;
//                         margin-bottom: $col-vw;
//                     }


//                     .image {
//                         width: 100%;
//                         max-width: 330px;
//                         height: 70%;
//                         background-position: top center;
//                         background-size: cover;

//                         @include image-border;

//                         @include breakpoint($mobile-break) {
//                             height: 100%;
//                             width: 80%;
//                             margin: 0 auto;
//                         }
//                     }
//                 }

//                 .lb-info {
//                     width: $col * 8;
//                     padding-left: $col-vw / 2;

//                     @include breakpoint($mobile-break) {
//                         width: $col * 12;
//                     }


//                     h3 {
//                         margin: 0 !important;
//                         color: $color3;
//                         padding-bottom: $header-space;
//                     }

//                     h5 {
//                         margin: 0 !important;
//                         font-weight: 900 !important;
//                     }
//                 }
//             }
//         }
//     }

//     &.leadership {
//         padding-left: 0;
//         padding-right: 0;
//         padding-bottom: $col-vw / 2;



//         .lb-leadership-wrapper {
//             padding: ($col-vw / 2) $col-vw 0;
//             display: flex;
//             flex-direction: row;
//             flex-wrap: wrap;

//             .staff {
//                 width: $col * 4;
//                 text-align: center;
//                 padding: $col-vw / 2;

//                 @include breakpoint($tablet-break) {
//                     width: $col * 6;
//                 }


//                 @include breakpoint($mobile-break) {
//                     width: $col * 12;
//                 }


//                 h3 {
//                     margin: 0 !important;
//                     color: $color3;
//                     padding-bottom: $header-space;
//                 }

//                 h5 {
//                     margin: 0 !important;
//                     font-weight: 900 !important;
//                     padding-bottom: $para-space;
//                 }

//                 p {
//                     margin: 0 !important;
//                     padding-bottom: $para-space;
//                 }
//             }
//         }
//     }
// }