/******************************************************************

Stylesheet: Article/Post template

Styles for post templates ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.lb-row-post {
    background-color: $white;
    padding: $col-vw 0;

    .ct-columns-inner-wrap {
        padding: 0 ($col-vw * 2.5);

        @include breakpoint($mobile-break) {
            padding: 0 $col-vw;
        }


        .code-block-content .post-titles {
            padding-left: 0;
            padding-right: 0;
        }

        .code-block-content.post-contents {
            padding: 0;
            padding-top: $col-vw / 2;

            blockquote {
                width: 50%;
                float: left;
                margin: 0;
                padding: ($col-vw / 2) 0;
                color: $color1;
                background-color: $white;
                border: none;
                transform: translateX(#{-$col-vw});

                @include breakpoint($tablet-break) {
                    width: 100%;
                    transform: translateX(0);
                    padding: 4rem 0 2rem;
                }


                @include breakpoint($mobile-break) {
                    padding: 4rem $col-vw 2rem;
                }


                p {
                    font: $h4;
                    font-weight: 900 !important;
                    line-height: 1.4em !important;

                    span {
                        font-weight: 900 !important;
                        font-style: italic;
                    }
                }

                &::before {
                    content: url(/wp-content/uploads/2018/11/quote-image.svg);
                    width: 100px;
                    height: 100px;
                    display: block;
                    margin-top: -100px;
                    margin-left: -20px;
                    top: 60px;
                    position: relative;
                }
            }
        }

        .post-titles-main-title {
            text-align: left;

            .page-title {
                color: $color2;

                @include breakpoint($mobile-break) {
                    text-align: left;
                }
            }
        }

        .date {
            text-align: left;
            margin: 0;
            color: $color3;
            font-weight: 900 !important;
            padding-bottom: $col-vw / 2;
        }
    }
}