/******************************************************************

Stylesheet: Search Results

Styles for search result page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
#ct_section_8_post_555 {
    .ct-code-block {
        @include padding-top($col-vw);
        @include padding-bottom($col-vw);

        h2 {
            margin: 0;

            @include padding-bottom($col-vw / 2);
        }

        li {
            list-style: none;

            @include margin-bottom($col-vw / 3);

            &:last-child {
                margin-bottom: 0;
            }

            .text {
                width: 80%;

                @include breakpoint($tablet-break) {
                    width: 100%;
                }
            }
        }
    }
}