/******************************************************************

Stylesheet: Single Gifts and Supplies

Styles for Single Gifts and Supplies page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
#ct_section_100004_post_510 {
    .ct-section-inner-wrap {
        border-radius: 50px;
        box-shadow: 0 0 15px $gray;
        padding: $col-vw !important;

        @include breakpoint($tablet-break) {
            @include padding-top($col-vw);
            @include padding-bottom($col-vw);
        }


        @include breakpoint($mobile-break) {
            box-shadow: none !important;
            padding: 0 !important;
        }
    }

    .ct-code-block {
        @include margin-bottom($col-vw / 2);

        .info {
            .info-inner {
                display: flex;
                flex-direction: row;
                align-items: center;

                @include breakpoint($mobile-break) {
                    flex-wrap: wrap;
                }


                .image {
                    width: $col-vw * 2;

                    @include breakpoint($tablet-break) {
                        width: $col-vw * 2.5;
                    }


                    @include breakpoint($mobile-break) {
                        width: 100%;
                    }
                }

                .info {
                    width: calc(100% - #{$col-vw * 2});
                    padding-left: $col-vw / 2;

                    @include breakpoint($tablet-break) {
                        width: calc(100% - #{$col-vw * 2.5});
                    }


                    @include breakpoint($mobile-break) {
                        width: 100%;
                    }
                }
            }
        }
    }

    .ct-inner-content {
        @include margin-bottom($col-vw / 2);

        p {
            a {
                color: $black;
                font-family: $primary-bold;
            }
        }
    }
}

.gform_wrapper {
    .gform_body {
        ul {
            li {
                &#field_11_6 {
                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        li {
                            &:first-child {
                                margin-right: 1rem;
                            }

                            input:checked {
                                + label {
                                    color: $white !important;
                                    border-color: $color1 !important;

                                    &::after {
                                        transform: translateX(0);
                                    }
                                }
                            }

                            label {
                                @include btn($color1, $white);


                                @include breakpoint(359px) {
                                    font-size: 0.8rem !important;
                                    letter-spacing: 0 !important;
                                }


                                &::before {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                &#field_11_5 {
                    padding-top: 3rem;

                    label {
                        display: block !important;
                        font: $body-font;
                        font-family: AvenirNext-Bold;
                    }
                }

                &#field_11_8 {
                    margin: ($col-vw / 2) 0 0 !important;
                    font: $body-font;

                    img {
                        margin-top: 1rem;
                    }
                }

                &:not(.payment-method):not(.show-label) {
                    label {
                        display: none !important;
                    }
                }

                input {
                    padding: 2rem 5px 15px !important;
                    font-size: 1.3rem !important;
                    margin-top: 0 !important;
                }

                .address_country {
                    padding: 2.4rem 5px 0;

                    @include breakpoint($mobile-break) {
                        padding-left: 0 !important;
                        padding-top: 1.3rem;
                    }
                }

                &.payment-method {
                    padding-top: ($col-vw / 2) !important;
                    margin-top: 0 !important;

                    @include breakpoint($mobile-break) {
                        padding-top: $col-vw !important;
                    }


                    .gfield_radio {
                        li {
                            label {
                                color: #000 !important;
                                font-size: 1.367em !important;
                                display: block !important;
                            }
                        }
                    }
                }

                &.shipping {
                    padding-top: ($col-vw / 2) !important;
                    margin-top: 0 !important;

                    @include breakpoint($mobile-break) {
                        padding-top: $col-vw !important;
                    }
                }
            }
        }
    }

    .gform_footer {
        margin-top: 2rem;
        text-align: center;
    }
}

// bottom red section
#ct_section_100016_post_510 {
    @include padding-bottom($col-vw / 3);
    @include padding-top($col-vw / 3);

    .ct-text-block {
        a {
            color: $white;
            text-decoration: none;
            font-family: $primary-bold !important;
        }
    }
}