/******************************************************************

Stylesheet: TEC Encounters

Styles for Pray For TEC page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.lb-row-intro {
    h3 {
        color: $color3;
    }
}

.lb-img-block {
    padding: 0 ($col-vw * 2) ($col-vw) ($col-vw * 2);
}

.lb-row-info {
    background-color: $white;
    padding-bottom: $col-vw / 2;

    ul li {
        display: list-item;
        list-style-position: inside;
    }

    #ct_column_13_post_82 {
        padding-right: $col-vw / 2;
    }

    .ct-section-inner-wrap {
        padding: 0 ($col-vw * 2);
        display: flex !important;
        flex-wrap: wrap;

        @include breakpoint($tablet-break) {
            padding: 0 $col-vw;
        }


        .ct-column {
            @include breakpoint($tablet-break) {
                width: 100% !important;

                img {
                    padding: $col-vw ($col-vw * 2);
                }
            }
        }

        h4 {
            font-weight: 900 !important;
            padding: 2rem 0 1rem;
        }

        .ct-text-block {
            padding-bottom: 2rem;
        }

        .lb-table-wrapper {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;

            .table-column {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 50%;

                &:nth-child(n+2) {
                    align-items: center;
                    width: 25%;
                }
            }
        }

        .button {
            margin-bottom: $col-vw / 2;
        }
    }
}

.lb-row-map {
    background-color: $white;

    .ct-code-block {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 35px;
        height: 0;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
    }
}