/*****************************************************************

Stylesheet: Mixins Stylesheet

******************************************************************/
/*************************
MEDIA QUERY (MQ)
*************************/
@import 'breakpoint';

/**********************
BUTTONS
**********************/
%btn {
    border: $border-width solid !important;
    width: auto;
    font-size: 0.857em !important;
    font-weight: 700 !important;
    padding: 0 1rem !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 4px !important;
    background: transparent !important;
    display: inline-block !important;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    line-height: 34px !important;
    z-index: 10;
    height: 34px !important;
    transition: $transition-slow;
    box-sizing: content-box !important;
    box-sizing: content-box;
    letter-spacing: 1.5px !important;

    &::after {
        content: '';
        width: 105%;
        height: 105%;
        transform: translateX(-110%) skew(30deg);
        position: absolute;
        left: -2.5%;
        top: 0;
        z-index: -1;
        transition: $transition-slow;
    }
}

@mixin btn($btn-color, $btn-color-hover) {
    @extend %btn;

    color: $btn-color !important;
    border-color: $btn-color !important;

    &::after {
        background: $btn-color;
    }

    &:hover,
    &.active,
    &.current {
        color: $btn-color-hover !important;
        border-color: $btn-color !important;

        &::after {
            transform: translateX(0);
        }
    }
}

@mixin image-border {
    border-top-left-radius: 68%;
    border-bottom-left-radius: 86%;
    border-top-right-radius: 68%;
    border-bottom-right-radius: 86%;
}

@mixin image-border-two {
    border-top-left-radius: 130%;
    border-bottom-left-radius: 130%;
    border-top-right-radius: 130%;
    border-bottom-right-radius: 130%;
}

// typography padding
@mixin bottoms {
    &.bottom {
        margin-bottom: 2rem;
    }
}

/**************************
RESPONSIVE RATIO
**************************/
@mixin ratio($x, $y, $pseudo: false) {
    $padding: unquote($y / $x * 100 + '%');

    @if $pseudo {
        &::before {
            @include pseudo($pos: relative);

            width: 100%;
            padding-top: $padding;
        }
    }
    @else {
        padding-top: $padding;
    }
}

/************************
CENTER DIV
************************/
@mixin center {
    margin: {
        left: auto;
        right: auto;
    };
}

// gutter padding
@mixin side-gutters {
    padding-left: $col-vw !important;
    padding-right: $col-vw !important;

    @include breakpoint($tablet-break) {
        padding-left: $col-vw !important;
        padding-right: $col-vw !important;
    }


    @include breakpoint($mobile-break) {
        padding-left: $col-vw !important;
        padding-right: $col-vw !important;
    }
}

@mixin side-gutters-lrg {
    padding-left: ($col-vw * 2) !important;
    padding-right: ($col-vw * 2) !important;

    @include breakpoint($tablet-break) {
        padding-left: $col-vw !important;
        padding-right: $col-vw !important;
    }


    @include breakpoint($mobile-break) {
        padding-left: $col-vw !important;
        padding-right: $col-vw !important;
    }
}

@mixin side-gutters-xlrg {
    padding-left: ($col-vw * 3) !important;
    padding-right: ($col-vw * 3) !important;

    @include breakpoint($tablet-break) {
        padding-left: $col-vw !important;
        padding-right: $col-vw !important;
    }


    @include breakpoint($mobile-break) {
        padding-left: $col-vw !important;
        padding-right: $col-vw !important;
    }
}

// padding top
@mixin padding-top($pad) {
    padding-top: $pad;

    @include breakpoint($tablet-break) {
        padding-top: $pad * 1.5;
    }


    @include breakpoint($mobile-break) {
        padding-top: $pad * 2;
    }
}

// padding bottom
@mixin padding-bottom($pad) {
    padding-bottom: $pad;

    @include breakpoint($tablet-break) {
        padding-bottom: $pad * 1.5;
    }


    @include breakpoint($mobile-break) {
        padding-bottom: $pad * 2;
    }
}

// margin top
@mixin margin-top($margin) {
    margin-top: $margin !important;

    @include breakpoint($tablet-break) {
        margin-top: ($margin * 1.5) !important;
    }


    @include breakpoint($mobile-break) {
        margin-top: ($margin * 2) !important;
    }
}

// margin bottom
@mixin margin-bottom($margin) {
    margin-bottom: $margin !important;

    @include breakpoint($tablet-break) {
        margin-bottom: ($margin * 1.5) !important;
    }


    @include breakpoint($mobile-break) {
        margin-bottom: ($margin * 2) !important;
    }
}

// Group Mixins
@mixin gutters {
    &.gutters {
        @include side-gutters;
    }

    &.gutters-lrg {
        @include side-gutters-lrg;
    }

    &.gutters-x-lrg {
        @include side-gutters-xlrg;
    }
}

@mixin paddings {
    &.top {
        @include padding-top($col-vw);
    }

    &.bottom {
        @include padding-bottom($col-vw);
    }

    &.top-half {
        @include padding-top($col-vw / 2);
    }

    &.bottom-half {
        @include padding-bottom($col-vw / 2);
    }
}

@mixin margins {
    &.top-margin {
        @include margin-top($col-vw);
    }

    &.bottom-margin {
        @include margin-bottom($col-vw);
    }

    &.top-margin-half {
        @include margin-top($col-vw / 2);
    }

    &.bottom-margin-half {
        @include margin-bottom($col-vw / 2);
    }
}

@mixin background-colors {
    &.red {
        background-color: $color1 !important;
    }

    &.dark {
        background-color: $color2 !important;
    }

    &.light {
        background-color: $color3 !important;
    }

    &.yellow {
        background-color: $color4 !important;
    }

    &.pink {
        background-color: $color5 !important;
    }

    &.white {
        background-color: $white !important;
    }
}

@mixin colors {
    &.red {
        color: $color1 !important;
    }

    &.dark {
        color: $color2 !important;
    }

    &.light {
        color: $color3 !important;
    }

    &.yellow {
        color: $color4 !important;
    }

    &.pink {
        color: $color5 !important;
    }

    &.white {
        color: $white !important;
    }
}

@mixin weights {
    &.regular {
        font-weight: 400 !important;
    }

    &.semi-bold {
        font-weight: 900 !important;
    }

    &.bold {
        font-weight: 700 !important;
    }
}

@mixin typ {
    &.serif {
        font-family: $serif !important;
    }

    &.sans-serif {
        font-family: $sans-serif !important;
    }
}

/*************************
FONT SIZE
*************************/

// @mixin font-size($size) {
//   font-size: $size;
//   font-size: ($size / 16px) * 1rem;
// }

@mixin font-size($xl: null, $l: null, $m: null, $s: null, $xs: null) {
  // font-size: $xl !important;
  font-size: ($xl / 18px) * 1rem !important;

  @if ($l) {
    @include breakpoint($laptop-break) {
      // font-size: $l !important;
      font-size: ($l / 16px) * 1rem !important;
    }
  }

  @if ($m) {
    @include breakpoint($tablet-break) {
      // font-size: $m !important;
      font-size: ($m / 14.4px) * 1rem !important;
    }
  }

  @if ($s) {
    @include breakpoint($mobile-break) {
      // font-size: $s !important;
      font-size: ($s / 14.4px) * 1rem !important;
    }
  }

  @if ($xs) {
    @include breakpoint(360px) {
      // font-size: $s !important;
      font-size: ($xs / 12px) * 1rem !important;
    }
  } @else if ($s) {
    @include breakpoint(360px) {
      // font-size: $s !important;
      font-size: ($s / 12px) * 1rem !important;
    }
  }
}

/*********************************
SVG BACKGROUND IMAGE WITH FALLBACK
*********************************/
$image-path: '../img' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';

@mixin background-image($name, $size: false) {
    background-image: url('#{$image-path}/#{$name}.svg');

    @if $size {
        background-size: $size;
    }

    .no-svg & {
        background-image: url('#{$image-path}/#{$name}.#{$fallback-extension}');

        @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
            background-image: url('#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension}');
        }
    }
}