/******************************************************************

Stylesheet: Typography

******************************************************************/

// font stacks

// $sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $serif: "Georgia", Cambria, Times New Roman, Times, serif;
// $primary: "AvenirNextLTW01-Regular";
// $secondary: "AvenirNextLTW01-Regular";
// $primary-bold: "Avenir Next LT W01 Bold";
// // $primary-med: "Avenir Next LT W01 Bold";
// $primary-med: "Avenir Next LT W01 Demi";

$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Georgia", Cambria, Times New Roman, Times, serif;
$primary: "Nunito Sans";
$secondary: "Nunito Sans";
$primary-bold: "Nunito Sans";
// $primary-med: "Avenir Next LT W01 Bold";
$primary-med: "Nunito Sans";

// theme fonts

$heading-font: 80px $primary, $sans-serif;
$body-font: 400 1rem / 1.52em $primary, $sans-serif;

$h1: 700 3.2rem / 1.2em $primary-bold, $sans-serif;
$h2: 700 2.381rem / 1.2em $primary-bold, $sans-serif;
$h3: 700 1.667rem / 1.2em $primary-bold, $sans-serif;
$h4: 700 1.429rem / 1.2em $primary-bold, $sans-serif;
$h5: 700 1.19rem / 1.2em $primary-bold, $sans-serif;
$h6: 400 1.15rem / 1.2em $primary-bold, $sans-serif;

// Setting universal font styles

h1 {
    font: $h1 !important;

        @media screen and (max-width: 600px) {
        font-size: 2.6rem !important;
    }
}

h2 {
    font: $h2 !important;

    @media screen and (max-width: 600px) {
        font-size: 1.5rem !important;
    }
}

h3 {
    font: $h3 !important;
}

h4 {
    font: $h4 !important;
}

h5 {
    font: $h5 !important;
}

h6 {
    font: $h6 !important;
}

p,
.ct-text-block,
.ct-code-block {
    font: $body-font;
    text-align: left;
    -ms-word-wrap: break-word;
    word-break: break-word;

    //non-standart css for webkit
    word-wrap: break-word;

    // cleaning up the ragged lines and breaks
    // -webkit-hyphens: auto;
    // -moz-hyphens: auto;
    // hyphens: auto;

    // sets a minimum number of characters before and after the break
    -webkit-hyphenate-before: 2;
    -webkit-hyphenate-after: 3;
    hyphenate-lines: 3;

    // enabling fancy ligatures when available
    //   -webkit-font-feature-settings: 'liga', 'dlig';
    //    -moz-font-feature-settings: 'liga=1, dlig=1';
    //       -ms-font-feature-settings: 'liga', 'dlig';
    //        -o-font-feature-settings: 'liga', 'dlig';
    //           font-feature-settings: 'kern' 1, 'dlig' 1;
}

/*********************
FONT FACE
*********************/

// @font-face {
//     font-family: 'AvenirNext-Bold';
//     src: url("fonts/AvenirNext-Bold.eot");
//     src: url("fonts/AvenirNext-Bold.woff2") format("woff2"), url("fonts/AvenirNext-Bold.woff") format("woff"), url("fonts/AvenirNext-Bold.ttf") format("truetype"), url("fonts/AvenirNext-Bold.svg#AvenirNext-Bold") format("svg"), url("fonts/AvenirNext-Bold.eot?#iefix") format("embedded-opentype");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'AvenirNext-BoldItalic';
//     src: url("fonts/AvenirNext-BoldItalic.eot");
//     src: url("fonts/AvenirNext-BoldItalic.woff2") format("woff2"), url("fonts/AvenirNext-BoldItalic.woff") format("woff"), url("fonts/AvenirNext-BoldItalic.ttf") format("truetype"), url("fonts/AvenirNext-BoldItalic.svg#AvenirNext-BoldItalic") format("svg"), url("fonts/AvenirNext-BoldItalic.eot?#iefix") format("embedded-opentype");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'AvenirNext-DemiBold';
//     src: url("fonts/AvenirNext-DemiBold.eot");
//     src: url("fonts/AvenirNext-DemiBold.woff2") format("woff2"), url("fonts/AvenirNext-DemiBold.woff") format("woff"), url("fonts/AvenirNext-DemiBold.ttf") format("truetype"), url("fonts/AvenirNext-DemiBold.svg#AvenirNext-DemiBold") format("svg"), url("fonts/AvenirNext-DemiBold.eot?#iefix") format("embedded-opentype");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'AvenirNext-DemiBoldItalic';
//     src: url("fonts/AvenirNext-DemiBoldItalic.eot");
//     src: url("fonts/AvenirNext-DemiBoldItalic.woff2") format("woff2"), url("fonts/AvenirNext-DemiBoldItalic.woff") format("woff"), url("fonts/AvenirNext-DemiBoldItalic.ttf") format("truetype"), url("fonts/AvenirNext-DemiBoldItalic.svg#AvenirNext-DemiBoldItalic") format("svg"), url("fonts/AvenirNext-DemiBoldItalic.eot?#iefix") format("embedded-opentype");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'AvenirNext-Heavy';
//     src: url("fonts/AvenirNext-Heavy.eot");
//     src: url("fonts/AvenirNext-Heavy.woff2") format("woff2"), url("fonts/AvenirNext-Heavy.woff") format("woff"), url("fonts/AvenirNext-Heavy.ttf") format("truetype"), url("fonts/AvenirNext-Heavy.svg#AvenirNext-Heavy") format("svg"), url("fonts/AvenirNext-Heavy.eot?#iefix") format("embedded-opentype");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'AvenirNext-HeavyItalic';
//     src: url("fonts/AvenirNext-HeavyItalic.eot");
//     src: url("fonts/AvenirNext-HeavyItalic.woff2") format("woff2"), url("fonts/AvenirNext-HeavyItalic.woff") format("woff"), url("fonts/AvenirNext-HeavyItalic.ttf") format("truetype"), url("fonts/AvenirNext-HeavyItalic.svg#AvenirNext-HeavyItalic") format("svg"), url("fonts/AvenirNext-HeavyItalic.eot?#iefix") format("embedded-opentype");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'AvenirNext-Italic';
//     src: url("fonts/AvenirNext-Italic.eot");
//     src: url("fonts/AvenirNext-Italic.woff2") format("woff2"), url("fonts/AvenirNext-Italic.woff") format("woff"), url("fonts/AvenirNext-Italic.ttf") format("truetype"), url("fonts/AvenirNext-Italic.svg#AvenirNext-Italic") format("svg"), url("fonts/AvenirNext-Italic.eot?#iefix") format("embedded-opentype");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'AvenirNext-Medium';
//     src: url("fonts/AvenirNext-Medium.eot");
//     src: url("fonts/AvenirNext-Medium.woff2") format("woff2"), url("fonts/AvenirNext-Medium.woff") format("woff"), url("fonts/AvenirNext-Medium.ttf") format("truetype"), url("fonts/AvenirNext-Medium.svg#AvenirNext-Medium") format("svg"), url("fonts/AvenirNext-Medium.eot?#iefix") format("embedded-opentype");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'AvenirNext-MediumItalic';
//     src: url("fonts/AvenirNext-MediumItalic.eot");
//     src: url("fonts/AvenirNext-MediumItalic.woff2") format("woff2"), url("fonts/AvenirNext-MediumItalic.woff") format("woff"), url("fonts/AvenirNext-MediumItalic.ttf") format("truetype"), url("fonts/AvenirNext-MediumItalic.svg#AvenirNext-MediumItalic") format("svg"), url("fonts/AvenirNext-MediumItalic.eot?#iefix") format("embedded-opentype");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Avenir Next';
//     src: url("fonts/AvenirNext-Regular.eot");
//     src: url("fonts/AvenirNext-Regular.woff2") format("woff2"), url("fonts/AvenirNext-Regular.woff") format("woff"), url("fonts/AvenirNext-Regular.ttf") format("truetype"), url("fonts/AvenirNext-Regular.svg#AvenirNext-Regular") format("svg"), url("fonts/AvenirNext-Regular.eot?#iefix") format("embedded-opentype");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'AvenirNext-UltraLight';
//     src: url("fonts/AvenirNext-UltraLight.eot");
//     src: url("fonts/AvenirNext-UltraLight.woff2") format("woff2"), url("fonts/AvenirNext-UltraLight.woff") format("woff"), url("fonts/AvenirNext-UltraLight.ttf") format("truetype"), url("fonts/AvenirNext-UltraLight.svg#AvenirNext-UltraLight") format("svg"), url("fonts/AvenirNext-UltraLight.eot?#iefix") format("embedded-opentype");
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'AvenirNext-UltraLightItalic';
//     src: url("fonts/AvenirNext-UltraLightItalic.eot");
//     src: url("fonts/AvenirNext-UltraLightItalic.woff2") format("woff2"), url("fonts/AvenirNext-UltraLightItalic.woff") format("woff"), url("fonts/AvenirNext-UltraLightItalic.ttf") format("truetype"), url("fonts/AvenirNext-UltraLightItalic.svg#AvenirNext-UltraLightItalic") format("svg"), url("fonts/AvenirNext-UltraLightItalic.eot?#iefix") format("embedded-opentype");
//     font-weight: normal;
//     font-style: normal;
// }