/******************************************************************

Stylesheet: Variables

******************************************************************/

/* Colours */

$color1: #E04E39; //red
$color2: #002855; //dark blue
$color3: #1981A6; //medium blue
$color4: #F1B434; //yellow
$color5: #F3B8B0; //light pink
$color-hover: $color1;
$color-active: $color1;

$gray: #E5E4E8;
$black: #000000;
$color-p: $black;
$text-gray: #A4A3A6;
$white: #FFFFFF;

/* Spacing / Padding */

$header-space: 1.25rem;
$para-space: 1rem;

$col: 100% / 12;
$col-vw: 100vw / 12;

$transition: 0.25s ease-in-out;
$transition-slow: 0.45s cubic-bezier(0.6, 0, 0.3, 1);

// border thickness
$border-width: 3px;

$mobile-menu-break: 1185px;

$desktop-break: 1920px;
$desktop-break-sml: 1550px;
$laptop-break: 1440px;
$laptop-break-sml: 1280px;
$tablet-break: 1024px;
$tablet-break-sml: 768px;
$mobile-break: 600px;
$mobile-break-med: 480px;
$mobile-break-sml: 340px;