/******************************************************************

Stylesheet: INTRANET | Landing

Styles for Intranet Landing page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.dashboard > .ct-section-inner-wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: $col-vw;
	grid-row-gap: $row-gap-desktop;

	@include breakpoint($laptop-break) {
		grid-row-gap: $row-gap-laptop;
	}

	@include breakpoint($tablet-break) {
		grid-template-columns: 1fr;
		grid-row-gap: $row-gap-tablet;
	}

	a.dashboard-menu-item {
		.menu-label {
			transition: $transition;
		}
		&:hover .menu-label {
			color: $color3;
		}
	}

	.dashboard-menu-item {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		
		&::after {
			display: none !important;
		}

		.dashboard-menu-item--header {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			background-color: $color4;

			&::after {
				display: none !important;
			}
		}

		.dashboard-menu-item--header,
		.dashboard-menu-item--body {
			padding: 30px 50px;

			@include breakpoint($laptop-break) {
				padding: 15px 30px;
			}

			@include breakpoint($mobile-break) {
				padding: 12px 15px;
			}
		}		

		.dashboard-menu-item--body {
			display: flex;
			flex-direction: column;
			background-color: $gray;

			.dashboard-menu-sub_item {
				padding: 10px 0;
				margin: 0 !important;
				list-style: none;

				@include breakpoint($laptop-break) {
					padding: 7px 0;
				}
				@include breakpoint($mobile-break) {
					padding: 5px 0;
				}

				li {
				    display: flex;
				    flex-direction: row;
				    align-items: center;
				    position: relative;
					padding: 10px 0;
					border-bottom: 1.5px solid transparentize($black, .5);

					@include breakpoint($laptop-break) {
						padding: 7px 0;
					}
					@include breakpoint($mobile-break) {
						padding: 6px 0;
					}

					&:not(:first-child) {
						margin-top: 20px;
						@include breakpoint($laptop-break) {
							margin-top: 12px;
						}
						@include breakpoint($mobile-break) {
							margin-top: 5px;
						}
					}

					&:last-child {
						margin-bottom: 20px;
						@include breakpoint($laptop-break) {
							margin-top: 15px;
						}
						@include breakpoint($mobile-break) {
							margin-top: 10px;
						}
					}

					.dashboard__menu-icon {
						width: 52px;
						display: flex;
						align-items: center;
    					justify-content: flex-start;

    					@include breakpoint($laptop-break) {
							width: 45px;
						}
						@include breakpoint($mobile-break) {
							width: 40px;
						}

    					svg {
							width: auto;
							height: 40px;
							@include breakpoint($laptop-break) {
								height: 30px;
							}
							@include breakpoint($mobile-break) {
								height: 25px;
							}
						}
					}


					.dashboard__menu-title {
						display: flex;
						flex: 1;

						h5 {
							margin: 0 !important;
							font-size: 21px;

							@include breakpoint($laptop-break) {
								font-size: 16px !important;
							}
							@include breakpoint($mobile-break) {
								font-size: 14px !important;
							}
							
							a {
								transition: color $transition;

								&:not(:hover) {
									color: $black !important;
								}
							}
						}
					}

					.dashboard__menu-subtitle {
					    display: flex;
					    justify-content: flex-end;
					    align-items: center;
					    width: auto;
				        margin-left: 1.2rem;

    					.date {
						    white-space: nowrap;
							font-size: 21px !important;
							@include breakpoint($laptop-break) {
								font-size: 16px !important;
							}
							@include breakpoint($mobile-break) {
								font-size: 14px !important;
							}
						}
					}


				}
			}

			.button {
			    align-self: flex-end;
			    margin-bottom: 10px;
			}
		}

		.menu-label {
			margin: 0 !important;
			// text-transform: uppercase;
			font-size: 30px !important;
			@include breakpoint($laptop-break) {
				font-size: 24px !important;
			}
			@include breakpoint($mobile-break) {
				font-size: 21px !important;
			}
		}
		.menu-icon {
			height: 33px !important;
			@include breakpoint($laptop-break) {
				font-size: 25px !important;
			}
			@include breakpoint($mobile-break) {
				font-size: 17px !important;
			}
		}

		.menu-label, .menu-icon {
			color: $black;
		}

		&.red {
			.dashboard-menu-item--header {
				background-color: $color1;
			}

			.menu-label {
				color: $white;
			}
		}
	}
}