/******************************************************************

Stylesheet: INTRANET | Directory Landing

Styles for Intranet Directory page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.intranet-body {
	@include breakpoint($laptop-break) {
		padding-left: ($col-vw * .75) !important;
		padding-right: ($col-vw * .75) !important;
	}
}

.directory {

	> .ct-section-inner-wrap {
		display: flex;
		flex-direction: row;

		@include breakpoint($tablet-break-sml) {
			flex-direction: column;
		}
	}

	.search-form--wrapper {
		width: $col-vw * 3.5;
		margin-right: $col-vw;
		flex: 1;

		@include breakpoint($laptop-break) {
			width: $col-vw * 5;
			margin-right: $col-vw * .75;
		}

		@include breakpoint($tablet-break-sml) {
			margin-right: 0;
			width: 100%;
		}

		.search-form {
			// margin-bottom: $col-vw / 2;
			margin-bottom: 3rem;

			form > ul {
				padding-left: 0;
			}

			.sf-field-reset {
				text-align: right;

				.search-filter-reset {
					transition: $transition;
					text-decoration: none;

					&:hover {
						color: $color3;
					}
				}
			}
		}

		.region-map {
			width: 100%;

			@include breakpoint($tablet-break-sml) {
				width: $col-vw * 8;
				margin: 0 auto 3rem;
			}

			@include breakpoint($mobile-break) {
				width: 100%;
			}
		}

		
	}

	.search-results--wrapper {
		width: $col-vw * 5.5;

		@include breakpoint($tablet-break-sml) {
			width: 100%;
		}

		.search-results {}
	}


}

.members {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 50px;

	@include breakpoint($laptop-break) {
		margin-bottom: 40px;
	}
	@include breakpoint($mobile-break) {
		margin-bottom: 30px;
	}
}

.profile {
	display: flex;
	flex-direction: row;
	border-bottom: 1.5px solid transparentize($black, .5);
	padding: 50px 0;

	@include breakpoint($laptop-break) {
		padding: 40px 0;
	}
	@include breakpoint($mobile-break) {
		padding: 30px 0;
		flex-direction: column;
	}

	&:first-child {
		padding-top: 0;
	}
}

// From Intranet Profile

.profile-image-wrapper {
	max-height: 160px;
	max-width: 160px;
	// height: $col-vw;
	width: $col-vw;
	// border-radius: 50%;
	overflow: hidden;
	margin-right: 50px;

	img {
		display: block;
		border-radius: 50%;
	}

	.profile-image-placeholder {
	    display: block;
	    background-color: $gray;
	    height: 0;
	    width: 100%;
	    padding-bottom: 100%;
	    border-radius: 50%;
        background-repeat: no-repeat;
		background-size: cover;
	}

	@include breakpoint($laptop-break) {
		max-height: 150px;
		max-width: 150px;
		// height: $col-vw * 1.5;
		width: $col-vw * 1.5;
		margin-right: 40px;
	}

	@include breakpoint($tablet-break) {
		width: $col-vw * 2;
		margin-right: 30px;
	}

	@include breakpoint($tablet-break-sml) {
		// height: $col-vw * 2.5;
		width: $col-vw * 2.5;
	}

	@include breakpoint($mobile-break) {
		max-height: 120px;
		max-width: 120px;
		// height: $col-vw * 4;
		width: $col-vw * 4;
		margin: 0 auto 20px;
	}

}

.profile-desc {
	display: grid;
	// grid-template-columns: 1fr 1fr;
	grid-template-columns: minmax(($col-vw * 1.5), 220px) minmax(($col-vw * 1.5), 220px);
	grid-column-gap: 40px;

	@include breakpoint($laptop-break) {
		grid-template-columns: minmax(($col-vw * 1.75), 175px) minmax(($col-vw * 1.75), 175px);
		grid-column-gap: 64px;
	}

	@include breakpoint($tablet-break) {
		grid-template-columns: minmax(($col-vw * 2), 175px) minmax(($col-vw * 2), 175px);
		grid-column-gap: 32px;
	}

	@include breakpoint($tablet-break-sml) {
		grid-template-columns: minmax(($col-vw * 2.5), 175px) minmax(($col-vw * 2.5), 175px);
		grid-column-gap: $col-vw;
	}

	@include breakpoint($mobile-break) {
		align-self: center;
		grid-template-columns: minmax(($col-vw * 3), 145px) minmax(($col-vw * 3), 145px);
		grid-column-gap: $col-vw;
	}

	.profile-desc--header {
		margin-bottom: 20px;
		grid-column: span 2;

		.name {
			color: $color3;

			> a {
				color: $color3 !important;
				transition: $transition;

				&:hover {
					color: $color1 !important;
				}
			}
			
			margin: 0;
			font-size: 25px !important;

			@include breakpoint($laptop-break) {
		    	font-size: 21px !important;
		    }

		    @include breakpoint($mobile-break) {
		    	font-size: 18px !important;
		    }
		}
	}
	.profile-desc--body-1, .profile-desc--body-2 {

		h6.title {
			white-space: nowrap;
			// margin-bottom: 5px;
			margin-top: 1rem;

			font: $body-font !important;
			font-family: $primary-bold !important;
			margin-bottom: 3px;
			// @include font-size(21px, 16px, 16px, 14px);

		    &:first-of-type {
				margin-top: 0;
			}
		}

		p {
			margin-top: 0;
			margin-bottom: 0;
			// @include font-size(21px, 16px, 16px, 14px);
		}
	}
}

// SEARCH AND FILTER

// $input-padding-side-xl: 50px;
// $input-padding-side-l: 40px;
// $input-padding-side-s: 20px;

$input-padding-side: 1.75rem;

.searchandfilter {
	label {
		width: 100%;
		// background: $gray;
	}
	select, input[type="text"] {
		background: transparentize($gray ,.4) !important;
		width: 100%;
	    
	    border: none;
	    transition: 0.25s ease-in-out;
	    border-radius: 0 !important;
	    font: $h6 !important;
	    font-size: 1rem !important;

	    -moz-appearance: none;
	    -webkit-appearance: none;
	    appearance: none;

	    // height: 80px;
	    height: 3.5rem;
	    padding: 1rem ($input-padding-side * 2) 1rem $input-padding-side;
	    // font-size: 25px !important;

	    // @include breakpoint($laptop-break) {
	    // 	height: 64px;
	    // 	padding: 1rem ($input-padding-side-l * 2) 1rem $input-padding-side-l;
	    // 	font-size: 21px !important;
	    // }

	    // @include breakpoint($mobile-break) {
	    // 	height: 50px;
	    // 	padding: 1rem ($input-padding-side-s * 2) 1rem $input-padding-side-s;
	    // 	font-size: 18px !important;
	    // }

	    &:focus {
	    	background: $gray !important;
	    }
	}

	select {
		font-family: $primary !important;

		> option {
			font-size: 1rem;
			font-family: $primary;
		}
	}
	input[type="text"] {
		&::placeholder {
	    	color: transparentize($black, .7);
	    }
	}

	li {
		position: relative;
		padding: 0;
		// margin-bottom: 50px;
		margin-bottom: 1.5rem;

		// @include breakpoint($laptop-break) {
		// 	margin-bottom: 40px;
		// }

		@include breakpoint($mobile-break) {
			// margin-bottom: 30px;
			margin-bottom: 2rem;
		}

		&.sf-field-search label::before {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' style='fill:%23E04E39;' %3E%3Cpath d='M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z'/%3E%3C/svg%3E");
			width: 1rem !important;
			height: 1rem !important;
		}

		&[data-sf-field-input-type=select] label::before {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' style='fill:%23E04E39;'%3E%3Cpath d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'/%3E%3C/svg%3E");
			width: 1.5rem !important;
			height: 1.5rem !important;
		}

		&.sf-field-search label::before,
		&[data-sf-field-input-type=select] label::before {
			content: '';
			pointer-events:none;
		    height: 1rem;
		    width: 1rem;
		    display: block;
		    position: absolute;
		    top: 50%;
		    right: $input-padding-side;
		    transform: translateY(-50%);
		    background-size: contain;
		    background-repeat: no-repeat;
		    background-position: right;

		    // @include breakpoint($laptop-break) {
		    // 	right: $input-padding-side-l;
		    // }

		    // @include breakpoint($mobile-break) {
		    // 	right: $input-padding-side-s;
		    // }
		}
	}
}

// PAGINATION

.pagination {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	a {
		text-decoration: none;
		font: $h6;
	}

	.page-navigation {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		font: $h6;

		select {
			margin-right: 5px;
		}
		.total-pages {
			white-space: nowrap;
		}
	}

	.nav-side {
		display: flex;
		flex-direction: row;
		width: 200px;

		&:first-child {
			justify-content: flex-end;
		}

		&:last-child {
			justify-content: flex-start;
		}
	}
	.pagination-item {
		margin: 0 10px;
		white-space: nowrap;

		a {
			transition: $transition;
			
			&:hover {
				color: $color3;
			}
		}
	}


	select {
	    background: transparent;
	    border: 2px solid $text-gray;
	    border-radius: 0;
	    transition: 0.25s ease-in-out;
	    padding: .5rem 2rem .5rem 1rem;
	    font: $h6 !important;

	    -moz-appearance: none;
	    -webkit-appearance: none;
	    appearance: none;
	}

	.page-selector-wrapper {
		position: relative;

		label {
			content: '';
			pointer-events:none;
		    width: 1.5rem !important;
			height: 1.5rem !important;
		    display: block;
		    position: absolute;
		    top: 50%;
		    right: 1rem;
		    transform: translateY(-50%);
		    background-size: contain;
		    background-repeat: no-repeat;
		    background-position: right;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' style='fill:%23E04E39;'%3E%3Cpath d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'/%3E%3C/svg%3E");	
		}
	}
}