/******************************************************************

Stylesheet: INTRANET | Profile

Styles for Intrante Profile page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.profile {
	position: relative;

	.ct-section-inner-wrap {

		.update-status {
			background: #CDDC39;
		    display: flex;
		    flex-direction: row;
		    align-items: center;
		    position: fixed;
		    padding: 1rem 1.5rem;
		    bottom: 2rem;
		    right: -500px;
		    z-index: 999999999;
		    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
		    transition: $transition-slow;

		    &.show {
		    	right: 0;
		    }

		    p {
		    	margin: 0 !important;
		    }

		    .close {
		    	margin-left: 1rem;

				position: relative;
				display: inline-block;
				width: 1rem;
				height: 1rem;
				overflow: hidden;
				cursor: pointer;

				&::before, &::after {
					content: '';
					position: absolute;
					height: 2px;
					width: 100%;
					top: 50%;
					left: 0;
					margin-top: -1px;
					background: #000;
				}
				&::before {
					transform: rotate(45deg);
				}
				&::after {
					transform: rotate(-45deg);
				}
			}
		}
	}
}

.profile .profile-wrapper {
	display: flex;
	flex-direction: row;

	.profile-image-wrapper {
		max-height: $col-vw * 2;
		max-width: $col-vw * 2;
		height: 100%;
		width: 100%;
		border-radius: 50%;
		overflow: hidden;
		margin-right: $col-vw * .75;

		img {
			display: block;
			object-fit: cover;
			height: $col-vw * 2;
			width: $col-vw * 2;
		}

		.profile-image-placeholder {
		    display: block;
		    background-color: $gray;
		    height: 0;
		    width: 100%;
		    padding-bottom: 100%;
		    border-radius: 50%;
	        background-repeat: no-repeat;
    		background-size: cover;
		}

		@include breakpoint($laptop-break) {
			max-height: $col-vw * 2.5;
			max-width: $col-vw * 2.5;

			img {
				height: $col-vw * 2.5;
				width: $col-vw * 2.5;
			}
		}

		@include breakpoint($tablet-break) {
			max-height: $col-vw * 4;
			max-width: $col-vw * 4;
			margin-right: 0;
			margin-bottom: $col-vw * .75;

			img {
				height: $col-vw * 4;
				width: $col-vw * 4;
			}
		}

		@include breakpoint($mobile-break) {
			max-height: $col-vw * 8;
			max-width: $col-vw * 8;
			margin-bottom: $col-vw;

			img {
				height: $col-vw * 8;
				width: $col-vw * 8;
			}
		}
	}

	@include breakpoint($tablet-break) {
		flex-direction: column;
		align-items: center;
	}

	.profile-desc {
		
		.profile-desc--header {
			margin-bottom: 20px;

			.name {
				color: $color3;
				margin: 0 !important;
			}
			.casual-name {
				font-style: italic;
				margin: .5rem 0 0 !important;
			}
		}
		.profile-desc--body {
			display: flex;
			flex-direction: row;

			@include breakpoint($tablet-break-sml) {
				flex-direction: column;
			}

			> div {
			    display: grid;
			    grid-template-columns: auto fit-content($col-vw * 2);
			    grid-auto-rows: min-content;
			    grid-column-gap: 2rem;
			    grid-row-gap: .8rem;

			    @include breakpoint($laptop-break) {
			    	grid-column-gap: 1.5rem;
			    }

			    @include breakpoint($tablet-break) {
			    	grid-column-gap: 2rem;
			    }

			    @include breakpoint($tablet-break-sml) {
			    	grid-column-gap: 1rem;
					grid-template-columns: 9rem fit-content($col-vw * 4);
				}

				// @include breakpoint($mobile-break-sml) {
				// 	grid-template-columns: 100px fit-content($col-vw * 8);
				// }

			    &:first-child {
			    	margin-right: $col-vw * .5;

					@include breakpoint($laptop-break) {
						margin-right: $col-vw * .5;
					}

					@include breakpoint($tablet-break) {
				    	margin-right: $col-vw * .75;
				    }

					@include breakpoint($tablet-break-sml) {
						margin-right: 0;
					}
			    }
			}

			h6.title {
				white-space: nowrap;
				margin-bottom: 0;
				margin-top: 0;
				font: $body-font !important;
				font-family: $primary-bold !important;
				// @include font-size(21px, 16px, 16px, 14px);
			}

			p {
				margin-top: 0;
				margin-bottom: 0;
				// @include font-size(21px, 16px, 16px, 14px);
			}
		}
	}
}

