/******************************************************************

Stylesheet: INTRANET | Registration

Styles for Intranet Registration page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

h1 {
	margin-bottom: 3rem;
}

input:not([type=submit]), select {
    height: 3.5rem !important;
    margin: 0 !important;
    padding: 5px 3px !important;
}

// READonly
.gf_readonly input {
	cursor: not-allowed !important;
}

// Checkbox

.gfield_checkbox {
	li {
		position: relative;

		label {
			display: inline-flex !important;
		    align-items: center;
		    height: 1.5rem;
		    padding-left: 30px !important;

			&:after {
				content:"";
				background: transparent;
				border: 2px solid $color1;
				width:1.5rem;
				height:1.5rem;
				display:block;
				position: absolute;
				left:0;
				top:0;
				border-radius:3px;
				z-index: 0;
				transition: $transition;
			}
			&:before {
				content:"";
				display:block;
			    position: absolute;
			    width: .45rem;
				height: .9rem;
			    border: solid #fff;
			    border-width: 0 2px 2px 0;
		    	left: .5rem;
				top: .2rem;
				transform: rotate(45deg);
				opacity:0;
				z-index:1;
				transition: $transition;
			}
		}
	}

}

input[type="checkbox"] {
	opacity:0;
	outline:none;
	z-index:100;
	width: 1.5rem;
	height: 1.5rem;
	top:0;
	left:0;
	position: absolute;
	appearance: none;
	cursor: pointer;

	+ label {
	  cursor: pointer;
	  height: auto;
	}

	&:checked + label {
		&:after {
			background: $color1;
		}
		&:before {
			opacity:1;
			top: 3px;
		}
	}
}

input[type="submit"] {
	width: auto !important;

	&:hover {
		background-color: $color1 !important;
	}
}

@mixin columns-gap($columns, $gap) {
	-moz-column-count: $columns;
    -moz-column-gap: $gap;
    -webkit-column-count: $columns;
    -webkit-column-gap: $gap;
    column-count: $columns;
    column-gap: $gap;
}

.checkbox_role ul {

 	@include columns-gap(4, 20px);

    @include breakpoint($laptop-break) {
    	@include columns-gap(3, 15px);
    }

    @include breakpoint($tablet-break-sml) {
    	@include columns-gap(2, 20px);
    }

    @include breakpoint($mobile-break) {
    	@include columns-gap(1, 0);
    }

    li {
    	overflow: visible !important;
    }
}