.page-title {
	color: $color2 !important;
	@include font-size(35px, 25px, 25px, 21px);
	line-height: 32px !important;
	margin-bottom: 20px;

	@include breakpoint($laptop-break) {
		margin-bottom: 15px;
	}
	@include breakpoint($mobile-break) {
		margin-bottom: 10px;
	}
}

.narrow {
	margin-left: 0 !important;
	max-width: $col-vw * 7 !important;

	@include breakpoint($laptop-break) {
		max-width: $col-vw * 8 !important;
	}

	@include breakpoint($tablet-break) {
		max-width: unset !important;
	}
}

.speakers-intro {

	.ct-text-block {
		@include font-size(21px, 16px, 16px, 14px);

		b {
			font-family:$primary-med !important;
		}
	}
}


.separator {
	margin: 50px 0 80px;
	height: 2px;
	width: 100%;
	background-color: $black;

	@include breakpoint($laptop-break) {
		margin: 40px 0 60px;
	}

	@include breakpoint($mobile-break) {
		margin: 30px 0 50px;
	}
}

.speakers {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 1fr 1fr;
	grid-gap: 50px $col-vw;

	@include breakpoint($laptop-break) {
		grid-gap: 40px $col-vw*.75;
	}

	@include breakpoint($tablet-break) {
		grid-template-columns: 1fr;
		grid-gap: 40px $col-vw*.5;
	}
}

.speaker {
	display: flex;
	flex-direction: row;
	padding: 30px 0;

	@include breakpoint($laptop-break) {
		padding: 20px 0;
	}


	@include breakpoint($mobile-break) {
		flex-direction: column;
		align-items: center;
	}

	&__image {
		width: 160px;
		margin-right: 50px;

		@include breakpoint($laptop-break) {
			width: 120px;
			margin-right: 30px;
		}

		@include breakpoint($mobile-break) {
			margin-right: 0;
			margin-bottom: 20px;
		}

		img {
			border-radius: 50%;

			&.red {
				background-color: $color1;
			}
			&.blue {
				background-color: $color3;
			}
			&.yellow {
				background-color: $color4;
			}
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	&__name {
		color: $color3 !important;
		margin: 0 0 .5rem !important;
	}

	&__bio {
	    height: 100%;
	    max-height: 6rem;
	    // line height: 1.5; // default
	    display: -webkit-box;
	    -webkit-box-orient: vertical;
	    -moz-box-orient: vertical;
	    -ms-box-orient: vertical;
	    box-orient: vertical;
	    -webkit-line-clamp: 4;
	    -moz-line-clamp: 4;
	    -ms-line-clamp: 4;
	    line-clamp: 4;
	    overflow: hidden;
	    transition: $transition;

	    @include breakpoint($tablet-break) {
	    	max-height: 4.5rem;
			-webkit-line-clamp: 3;
		    -moz-line-clamp: 3;
		    -ms-line-clamp: 3;
		    line-clamp: 3;
		}

	    &.unclamped {
	    	-webkit-line-clamp: unset;
		    -moz-line-clamp: unset;
		    -ms-line-clamp: unset;
		    line-clamp: unset;
	    }

	    &.show-text {
	    	height: auto;
	    	max-height: 50rem;
	    }

	    p {
    		margin-top: 0 !important;

	    	&:last-child {
	    		margin-bottom: 0 !important;
	    	}
	    }
	}

	&__read-more {
		display: flex;
		flex-direction: column;
		align-self: flex-end;
		align-items: flex-end;
		width: $col-vw * 1.5;
		border-top: 2px solid $color1;
		padding-top: 10px;
		margin-top: 20px;

		@include breakpoint($laptop-break) {
			width: $col-vw * 2;
		}

		@include breakpoint($tablet-break) {
			width: $col-vw * 3;
		}

		@include breakpoint($mobile-break) {
			width: $col-vw * 5;
		}

		.read-more-less {
			font-family: $primary-bold;
			@include font-size(16px, 14px, 14px, 14px);
		    font-weight: 700 !important;
		    text-transform: uppercase;
		    transition: $transition-slow;
			letter-spacing: 1.5px !important;
			cursor: pointer;
		}
	}
}

.speakers-intro .button {
    line-height: 1 !important;
    height: auto !important;
    padding: 6px 21px !important;
    @include font-size(16px, 14px, 14px, 14px);

    @include breakpoint($laptop-break) {
    	padding: 6px 24px !important;
    }
}