
.videos__header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	-webkit-flex-flow: wrap;
	flex-flow: wrap;
	margin-bottom: 67px;

	@include breakpoint($laptop-break) {
		margin-bottom: 50px;
	}

	@include breakpoint($tablet-break) {
		margin-bottom: 40px;
	}

	@include breakpoint($mobile-break) {
		margin-bottom: 50px;
	}

	// .video__search {
	// 	display: flex;
	// 	flex-direction: row;
	// 	align-items: center;

		.page-title {
			color: $color2 !important;
			@include font-size(35px, 25px, 25px, 21px);
			flex: 1;
		}

		.search-videos {

			&__wrapper {
				position: relative;
				flex: 2;
				margin-right: 80px;
				margin-left: 80px;
				min-width: 480px;

				@include breakpoint($laptop-break) {
					margin-right: 60px;
					margin-left: 60px;
					min-width: 350px;
				}

				@include breakpoint($tablet-break) {
					flex: auto;
					min-width: unset;
					margin-right: 0;
					margin-left: 0;
					margin-top: 27px;
					order: 3;
					width: 100%;
				}
			}

			display: flex;
			background: transparentize($gray, .4) !important;
		    border: none;
		    transition: 0.25s ease-in-out;
		    border-radius: 0 !important;
		    font: $h6 !important;
		    font-size: 1rem !important;
		    margin-left: auto;
		    width: 100%;
		    // width: 480px;
		    height: 70px;
		    padding: 15px 30px;

		    &:focus {
		    	background: $gray !important;
		    }

			&::placeholder {
		    	color: transparentize($black, .7);
		    }

		    @include breakpoint($laptop-break) {
		    	// width: 350px;
	    		height: 55px;
		    	padding: 15px 25px;
		    }

		    @include breakpoint($tablet-break) {
		    	width: 350px;
		    }

		    @include breakpoint($mobile-break) {
		    	width: 100%;
	    		height: 40px;
		    	padding: 10px 20px;
		    }

		    &__icon {
	    	    position: absolute;
			    right: 30px;
			    top: 50%;
			    transform: translateY(-50%);
			    height: 25px;
			    width: 25px;

			    @include breakpoint($laptop-break) {
			    	right: 25px;
			    	height: 20px;
			    	width: 20px;
			    }

			    @include breakpoint($mobile-break) {
			    	right: 20px;
			    }
		    }
		}

		.youtube-link {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			flex: 1;

			@include breakpoint($tablet-break) {
				order: 2;
			}

			.youtube-logo {
				width: 180px;
				height: auto;
				transition: $transition;

				@include breakpoint($laptop-break) {
					width: 135px;
				}

				@include breakpoint($mobile-break) {
					width: 100px;
				}

			}

			.ct-link-wrapper:hover {
				.youtube-logo {
					-webkit-filter: drop-shadow( 4px 4px 4px rgba(0, 0, 0, .2));
  					filter: drop-shadow( 4px 4px 4px rgba(0, 0, 0, .2));
				}
			}
		}
	// }
}



.playlist {
	&__wrapper {
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;

		@include breakpoint($laptop-break) {
			margin-bottom: 30px;
		}

		@include breakpoint($tablet-break) {
			margin-bottom: 30px;
		}

		@include breakpoint($mobile-break) {
			margin-bottom: 20px;
		}
	}

	&__title {
		@include font-size(25px, 18px, 18px, 16px);
		color: $color2 !important;
		padding-bottom: 5px;
		border-bottom: 2px solid $color2;
		margin-bottom: 30px !important;

		@include breakpoint($laptop-break) {
			margin-bottom: 20px !important;
		}
	}
}

.videos__wrapper {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px 54px;

	@include breakpoint($laptop-break) {
		grid-gap: 20px 30px;
	}

	@include breakpoint($tablet-break) {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 40px;
	}

	@include breakpoint($mobile-break) {
		grid-template-columns: repeat(1, 1fr);
	}

	.view-more {
	    grid-column: span 4;

	    display: grid;
		grid-auto-flow: row;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 27px 54px;

		@include breakpoint($laptop-break) {
			grid-gap: 15px 30px;
		}

		@include breakpoint($tablet-break) {
			grid-column: span 2;
			grid-template-columns: 1fr 1fr;
			grid-gap: 40px;
		}

		@include breakpoint($mobile-break) {
			grid-column: span 1;
			grid-template-columns: 1fr;
		}
	}
}

.video {
	width: 100% !important;

	&__thumbnail {
		display: block !important;
		position: relative;
		height: $col-vw * 1.25;
		max-height: 200px;
		overflow: hidden;

		@include breakpoint($laptop-break) {
			height: $col-vw * 1.5;
		}

		@include breakpoint($tablet-break) {
			height: $col-vw * 2.5;
		}

		@include breakpoint($mobile-break) {
			height: $col-vw * 5.5;
		}

		&:hover {
			.video__overlay {
				background-color: transparent !important;
			}
		}
	}

	&__overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		// background-color: transparentize($color3, .4);
		transition: $transition;
		z-index: 1;
		opacity: .6;

		&.overlay--red {
			background-color: $color1;
		}
		&.overlay--yellow {
			background-color: $color4;
		}
		&.overlay--blue {
			background-color: $color3;
		}
	}

	&__length {
		position: absolute;
		background: $white;
		bottom: 0;
		left: 0;
		padding: 10px 12px;
		display: flex;
	    flex-direction: row;
	    align-items: center;
	    z-index: 1;

	    svg {
	    	margin-right: 10px;
	    	height: 19px;

	    	@include breakpoint($laptop-break) {
	    		height: 16px;
	    	}
	    }

	    .time {
	    	line-height: 1;
	    	color: $black !important;
	    	@include font-size(14px, 12px, 12px, 12px);
	    }
	}

	&__image {
		display: block;
		position: absolute;
	    top: 50%;
	    transform: translateY(-50%) scale(1.1);
	}

	&__meta {
		&__link {
			text-decoration: none !important;
		}
		&__title {
			color: $color3 !important;
			margin-top: 15px;
			margin-bottom: 5px;
			@include font-size(21px, 16px, 16px, 16px);
		}
		&__subtitle {
			margin-top: 0;
			margin-bottom: 15px;
			color: transparentize($black, .5);
			@include font-size(16px, 14px, 14px, 14px);
		}

		&__categories {

			.category {
				font-family: $primary-bold;
				color: $color2;
				@include font-size(14px, 12px, 12px, 12px);
				padding: 5px 10px;
				background-color: transparentize($gray, .4);
				border-radius: 15px;
				margin-bottom: 10px;

				&:not(:last-child) {
					margin-right: 10px;
				}
			}
		}
	}
}

.modal {
	position: fixed;
    height: 100%;
    width: 100%;
    background: transparentize($color2, .15);
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;

    &__container {
    	width: $col-vw * 5;
    	margin: auto;
    	height: auto;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	justify-content: center;

    	@include breakpoint($laptop-break) {
			width: $col-vw * 6;
		}

		@include breakpoint($tablet-break) {
			width: $col-vw * 9.5;
		}

		@include breakpoint($mobile-break) {
			width: $col-vw * 10;
		}

    	.iframe-wrap {
    		background-color: transparentize($black, .25);
    		width: $col-vw * 5;
    		// height: 0;
    		height: $col-vw * 5 / 16 * 9;

    		iframe {
    			width: 100%;
    			height: 100%;
    		}

    		@include breakpoint($laptop-break) {
    			width: $col-vw * 6;
    			height: $col-vw * 6 / 16 * 9;
    		}

    		@include breakpoint($tablet-break) {
    			width: $col-vw * 9.5;
    			height: $col-vw * 9.5 / 16 * 9;
    		}

    		@include breakpoint($mobile-break) {
    			width: $col-vw * 10;
    			height: $col-vw * 10 / 16 * 9;
    		}
    	}
    }

    &__meta {
    	background-color: $white;
    	padding: 30px;
    	width: 100%;

    	&__title {
    		@include font-size(25px, 18px, 18px, 16px);
    		margin-top: 0 !important;
			margin-bottom: 5px;
    	}
    	&__subtitle {
    		color: transparentize($black, .5);
			@include font-size(18px, 14px, 14px, 14px);
    	}
    }
}

.view-more {
	overflow: hidden !important;

	// &.hidden {
	// 	height: 0;
	// }
}

.view-more-link__wrapper {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	align-items: flex-end;
	width: $col-vw * 1.5;
	border-top: 2px solid $color1;
	padding-top: 10px;
	margin-top: 30px;

	@include breakpoint($laptop-break) {
		width: $col-vw * 2;
	}

	@include breakpoint($tablet-break) {
		width: $col-vw * 3;
	}

	@include breakpoint($mobile-break) {
		width: $col-vw * 5;
		margin-top: 20px;
	}

	.view-more-link {
		font-family: $primary-bold;
		font-size: 0.857em !important;
	    font-weight: 700 !important;
	    text-transform: uppercase;
	    transition: $transition;
		letter-spacing: 1.5px !important;
		cursor: pointer;
		text-decoration: none !important;

		&:hover {
			color: $color3;
		}
	}
}

// Placeholder

.data-loading {
	.video__meta__title,
	.video__meta__subtitle,
	.category {
		color: transparent !important;
		background-color: transparentize($black, .3);
		animation: fading 1.5s infinite;
		transition: $transition;

		&::after {
			content: '';
			display: inline-block;
			opacity: 0;
		}
	}

	.video__overlay {
		animation: fading 1.5s infinite;
	}

	.video__image,
	.video__length {
		opacity: 0 !important;
	}
}

@keyframes fading {
  0% {
    opacity: .1;
  }
  
  50% {
    opacity: .2;
  }
  
  100% {
    opacity: .1;
  }
}

