 /******************************************************************

Stylesheet: TEC Community Resources

Styles for TEC Community Resources page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.lb-tab-nav {
    .ct-columns-inner-wrap {
        &::before {
            @include breakpoint($mobile-break) {
                display: none;
            }
        }
    }
}

#ct_headline_54_post_536 {
    @include breakpoint($mobile-break) {
        margin-top: $col-vw;
    }
}

#ct_columns_56_post_536 {
    width: 50%;
    display: block;
    float: left;
    margin-bottom: 4rem;

    @include breakpoint($mobile-break) {
        width: 100%;
    }
}

.lb-tab-body {
    @include breakpoint($tablet-break) {
        padding-left: ($col-vw * 2) !important;
        padding-right: ($col-vw * 2) !important;
    }


    @include breakpoint($mobile-break) {
        padding-left: $col-vw !important;
        padding-right: $col-vw !important;

        h3 {
            font-size: 1.45rem !important;
        }
    }


    img {
        @include margin-bottom($col-vw / 2);
    }

    a {
        img {
            margin-bottom: 0 !important;
        }
    }

    .ct-code-block {
        @include margin-top($col-vw / 2);

        .resource {
            display: flex;
            align-items: center;

            //temporarily hide Videos section
            &:nth-last-child(2) {
                display: none;
            }

            @include breakpoint($mobile-break) {
                align-items: flex-start;
            }


            @include margin-bottom($col-vw / 2);

            &:last-child {
                margin-bottom: $col-vw !important;
            }

            h3 {
                margin-top: 0;
                margin-bottom: 1rem;
            }

            .icon {
                width: $col-vw / 2;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;

                @include breakpoint($tablet-break) {
                    width: $col-vw;
                }


                @include breakpoint($mobile-break) {
                    width: $col-vw * 1.5;
                }


                img {
                    margin-bottom: 0 !important;
                    width: $col-vw / 4;

                    @include breakpoint($tablet-break) {
                        width: $col-vw / 2;
                    }


                    @include breakpoint($mobile-break) {
                        width: $col-vw;
                    }
                }
            }

            .info {
                width: calc(100% - #{$col-vw / 2});

                @include breakpoint($tablet-break) {
                    width: calc(100% - #{$col-vw});
                }


                @include breakpoint($mobile-break) {
                    width: calc(100% - #{$col-vw * 1.5});
                }
            }

            .leader {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                p {
                    a {
                        margin-right: 1rem;
                        transition: $transition;
                        display: inline-block;

                        &:hover {
                            opacity: 0.7;
                        }

                        > img {
                            width: 40px;
                            height: 40px;
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .button {
                margin-top: 1rem;

             
            }
        }
    }

    // GEREKE GRANT TAB
}

.workshops {
    .ct-code-block {
        .resource {
            align-items: flex-start;
        }
    }
}

.application-intro {
    padding: ($col-vw / 2) 0;
}

.grant {
    #ct_headline_46_post_536 {
        margin-bottom: 2rem;
    }

    #ct_text_block_28_post_536 {
        @include margin-top($col-vw / 2);
    }

    h3 {
        margin-bottom: 2rem;
        margin-top: 4rem;
    }

    h4 {
        margin-bottom: 1rem;
    }

    #ct_columns_39_post_536 {
        @include breakpoint($tablet-break) {
            margin-bottom: $col-vw;
        }


        > .ct-columns-inner-wrap {
            @include breakpoint($tablet-break) {
                display: flex !important;
                flex-wrap: wrap;
                flex-direction: column-reverse;
            }


            #ct_column_41_post_536 {
                @include breakpoint($tablet-break) {
                    flex-basis: 100%;
                }


                #ct_div_block_73_post_536 {
                    &::before {
                        content: '';
                        width: $col-vw * 3.5;
                        height: $col-vw * 4.3333333;
                        background: $color1;
                        position: absolute;
                        left: 52vw;
                        z-index: -9;

                        @include breakpoint($tablet-break) {
                            width: $col-vw * 3.5;
                            height: 63vw;
                            right: 0;
                            left: 50vw;
                        }


                        @include breakpoint(768px) {
                            left: initial;
                            width: 29vw;
                            height: 52vw;
                        }


                        @include breakpoint($mobile-break) {
                            right: 0;
                            width: $col-vw * 5;
                        }
                    }

                    img {
                        @include breakpoint($tablet-break) {
                            width: $col-vw * 7;
                        }


                        @include breakpoint(768px) {}


                        @include breakpoint($mobile-break) {
                            width: $col-vw * 9;
                        }
                    }
                }
            }
        }
    }

    #ct_column_58_post_536 {
        @include breakpoint(768px) {
            margin-top: ($col-vw / 2) !important;
        }


        @include breakpoint($mobile-break) {
            margin-top: $col-vw !important;
        }
    }

    #ct_column_40_post_536 {
        padding-right: $col-vw / 2;

        @include breakpoint($tablet-break) {
            flex-basis: 100%;
            width: 100%;
            margin-top: $col-vw;
        }
    }
}