/******************************************************************

Stylesheet: Get involved

Styles for Get involved landing page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.lb-row-events {
    padding: $col-vw 0;
    background-color: $white;

    .ct-section-inner-wrap {
        padding: 0 $col-vw;

        .tribe-events-list-separator-month {
            &:nt-child(2) {
                display: none;
            }
        }
    }
    h1 {
        text-align: center;
    }
}

.lb-row-pray {
    text-align: center;

    .ct-headline {
        color: $white;
        padding-bottom: $header-space;
    }

    .ct-text-block {
        color: $white;
    }

    .button {
        margin-top: $para-space * 2;
    }

    // .gform_description {
    //     text-align: center;
    // }
}

.lb-row-encounters {
    padding: $col-vw;
    background-position: center;
    background-size: cover;

    .ct-section-inner-wrap {
        .ct-column {
            text-align: center;

            .button {
                margin-top: $para-space * 2;
            }

            h1,
            .ct-text-block {
                color: $white;
            }

            .ct-headline {
                padding-bottom: $header-space;
            }
        }
    }
}

.lb-row-volunteer {
    padding: $col-vw;
    background-color: $white;
    position: relative;

    @include breakpoint($tablet-break) {
        padding: $col-vw 0;
    }


    &:after {
        content: '';
        display: block;
        width: $col-vw * 4;
        height: calc(100% - #{$col-vw * 2});
        position: absolute;
        top: $col-vw;
        right: 0;
        background-color: $color1;
        z-index: 1;

        @include breakpoint($tablet-break) {
            width: $col-vw * 3;
        }


        @include breakpoint(700px) {
            display: none !important;
        }
    }

    .ct-columns-inner-wrap {
        display: flex !important;
        flex-direction: column;
        z-index: 10;
        position: relative;

        .ct-column {
            &:first-child {
                width: ($col-vw * 8) !important;
                align-self: flex-end;

                @include breakpoint($tablet-break) { width: $col-vw * 10 !important;
                padding-right: $col-vw; }

                @include breakpoint($mobile-break) {
                    width: 100% !important;
                    padding: 0 $col-vw $col-vw;
                    position: relative;

                    &:before {
                        content: '';
                        display: block;
                        width: 40vw;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 60vw;
                        background-color: $color1;
                        z-index: 1;


                    }
                }


                img {
                    z-index: 10;
                    position: relative;
                }
            }

            &:last-child {
                width: ($col-vw * 7) !important;
                padding: $col-vw;
                text-align: right;

                @include breakpoint($tablet-break) {
                    width: ($col-vw * 8) !important;
                }


                @include breakpoint($mobile-break) {
                    width: 100% !important;
                    padding: $col-vw;
                    text-align: center;
                }


                .button {
                    margin-top: $para-space * 2;
                }

                .ct-headline {
                    padding-bottom: $header-space;
                }
            }
        }
    }
}

.lb-row-community {
    background-color: $white;
    text-align: center;

    h1 {
        padding-bottom: $header-space;
        color: $white;
        z-index: 1;
    }

    .ct-section-inner-wrap {
        > .ct-div-block {
            position: relative;

            @include padding-top($col-vw / 1.5);
            @include padding-bottom($col-vw / 1.5);

            @include breakpoint($mobile-break) {
                @include padding-top($col-vw);
                @include padding-bottom($col-vw);
            }


            > .ct-div-block {
                width: 100%;
                padding: 0 $col-vw;

                .button {
                    &:hover {
                        color: $color3 !important;
                    }
                }
            }
        }
    }

    // .ct-columns-inner-wrap {
    //     display: flex;
    //     flex-wrap: wrap;

    //     .ct-column {
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         background-size: cover;
    //         background-position: center;
    //         height: $col-vw * 3;
    //         min-height: 450px;

    //         @include breakpoint($tablet-break) {
    //             width: calc(100% / 3) !important;
    //         }

    //         @include breakpoint($mobile-break) {
    //             width: 100% !important;
    //             min-height: 250px;
    //             background-position: top center;
    //         }
    //     }
    // }
}