/******************************************************************

Stylesheet: Pray For TEC

Styles for Pray For TEC page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

// background row
#ct_section_46_post_78 {
    .ct-column {
        height: $col-vw * 3.5;
        width: 50% !important;

        @include breakpoint($mobile-break) {
            width: 100% !important;
            height: $col-vw * 7;
        }


        &:last-child {
            @include breakpoint($mobile-break) {
                display: none;
            }
        }
    }
}

.lb-row-intro .gform_wrapper .gform_title {
    font: $h1 !important;

    @include breakpoint($mobile-break) {
        font-size: 1.5rem !important;
    }
}

.gform_confirmation_wrapper {
    font: $body-font !important;
    margin-top: 1rem;

    &.white {
        color: $white;
    }
}

#ct_headline_34_post_78 {
    color: #fff;
}