/******************************************************************

Stylesheet: Support TEC

Styles for Support TEC page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.lb-row-intro {
    .ct-div-block {
        .button {
            @include breakpoint(385px) {
                font-size: 0.75rem;
            }


            &:first-child {
                margin-right: 2rem;
                margin-left: 2rem;

                @include breakpoint(385px) {
                    //margin-right: 0.5rem;
                }
            }
        }
    }

    .lb-tab-nav {
        padding: 0;
    }
}

.bottom-half {
    @include breakpoint($tablet-break) {
        text-align: center;
    }
}

// background columns
#ct_section_15_post_166 {
    .ct-column {
        height: $col-vw * 3.5;

        @include breakpoint($tablet-break) {
            height: $col-vw * 5.5;
        }


        @include breakpoint($tablet-break) {
            height: $col-vw * 7.5;
        }
    }
}

// Donation form
.donation-form {
    margin-top: (-$col-vw) !important;
    padding: ($col-vw / 2) ($col-vw * 2) $col-vw !important;

    @include breakpoint($tablet-break) {
        padding: $col-vw !important;
    }
}

#ct_code_block_47_post_166,
.check {
    border: 2px solid $gray;
    border-radius: 50px;
    box-shadow: 0px 0px 15px $gray;
    padding: 0 !important;

    form {
        padding: ($col-vw / 2) !important;
    }
}

.gform_title {
    text-transform: uppercase;
    color: $color2;
    text-align: center;
}

.gform_fields {
    select {
        font-size: 1.2rem !important;
    }

    li:not(#field_7_1),
    li:not(#field_7_2) {
        margin-top: 0;

        input {
            padding: 2rem 5px 15px 5px;
            font-size: 1.3rem !important;

            &::placeholder {
                text-transform: uppercase;
            }
        }
    }

    .address_country {
        padding: 2.4rem 5px 0px 5px;

        @include breakpoint($mobile-break) {
            padding-left: 0 !important;
            padding-top: 1.3rem;
        }


        select {
            line-height: 5rem;
            color: $black;
            text-transform: uppercase;
            padding-bottom: 15px;

            @include breakpoint($mobile-break) {
                padding-left: 0 !important;
            }
        }
    }

    #field_7_9 {
        margin: ($col-vw / 2) 0 0 !important;

        img {
            margin-top: 1rem;
        }
    }

    #field_7_19 {
        h3 {
            padding-top: 1rem;
        }
    }

    #field_7_18 {
        label {
            display: none;
        }
    }

    #field_7_1 {
        margin-bottom: $col-vw / 2;

        @include breakpoint($mobile-break) {
            margin-bottom: 0 !important;
        }


        ul {
            display: flex;
            width: 91%;
            margin: 0 auto;

            @include breakpoint($mobile-break) {
                flex-wrap: wrap;
            }


            > li {
                min-height: 56px;

                @include breakpoint($mobile-break) {
                    min-height: 45px;
                }


                // &:last-child {
                //     flex-basis: 30%;
                //     border: 3px solid $gray;
                //     border-radius: 50px;
                //     text-align: center;
                //     padding: 12px 5px 12px 5px !important;

                //     @include breakpoint($mobile-break) {
                //         flex-basis: 100%;
                //     }

                //     input {
                //         color: $black !important;
                //         padding: 0 !important;
                //         border-bottom-color: $gray !important;
                //         font-size: 1.2rem !important;
                //         text-align: center;
                //         width: 80%;

                //         &:focus, &:hover {
                //             border-bottom-color: $gray !important;
                //         }
                //     }
                // }

                flex-basis: 20%;

                @include breakpoint($mobile-break) {
                    flex-basis: 25%;
                }


                input {
                    &:checked {
                        + label {
                            background: $color2 !important;
                        }
                    }
                }

                label {
                    content: '';
                    height: 100%;
                    background: $color1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 9;
                    border-radius: 50px;
                    color: $white;
                    line-height: 43px !important;
                    width: 80%;
                    text-align: center;
                    font-size: 1.2rem !important;
                    padding: 0.5rem 1rem !important;
                    transition: $transition;
                    margin: 0 !important;

                    @include breakpoint($mobile-break) {
                        line-height: 32px !important;
                        font-size: 0.9rem !important;
                        padding: 0.5rem !important;
                        border-radius: 20px;
                        width: 100%;
                    }


                    &::before {
                        display: none;
                    }
                }
            }
        }
    }

    #field_7_2,
    #field_7_3,
    #field_7_4 {
        display: inline-block;
        margin-top: 0;

        @include breakpoint($mobile-break) {
            display: block;
            width: 100% !important;
        }
    }

    #field_7_2 {
        width: 35%;

        input {
            display: none;

            &:checked {
                + label:before {
                    background: $color1;
                    border-color: $color1;
                }
            }

            &:hover {
                + label:before {
                    border-color: $color1;
                }
            }
        }

        > .gfield_label {
            &::before {
                display: none;
            }
        }

        label {
            position: relative;
            font-weight: 900;
            padding-left: 2em;
            color: $black;
            font-size: 0.8rem !important;

            @include breakpoint($mobile-break) {
                font-size: 1rem !important;
            }


            &:before {
                content: '';
                width: 1em;
                height: 1em;
                border: 2px solid $gray;
                border-radius: 100%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: $transition;
            }
        }
    }

    #field_7_3 {
        font-size: 1rem !important;
        vertical-align: top;
        width: 40%;

        select {
            //color: $gray !important;
            color: $black !important;
        }
    }

    #field_7_4 {
        width: 20%;
        vertical-align: top;

        input {
            padding: 0 5px 8px 5px !important;
        }
    }

    #field_7_10 {
        padding-top: $col-vw / 2;

        label {
            color: #000 !important;
            font-size: 1.367em !important;
        }
    }

    #field_7_11 {
        span.ginput_card_expiration_container {
            padding-top: 0.8rem !important;

            select {
                height: 60px;

                @include breakpoint($tablet-break) {
                    height: 55px;
                }
            }
        }
    }

    // Hide labels

    #field_7_6,
    #field_7_7,
    #field_7_8 {
        label {
            display: none;
        }
    }

    .ginput_container {
        span {
            label {
                display: none !important;
            }
        }
    }
}

input[type=submit] {
    &:hover {
        background-color: $color1 !important;
    }

    @include breakpoint($mobile-break) {
        width: auto !important;
    }
}

#input_7_1_other {
    padding: 0.8rem !important;
    width: 100%;

    @include breakpoint($mobile-break) {
        flex-basis: 100%;
    }
}

.gchoice_7_1_4 {
    @include breakpoint($mobile-break) {
        flex-basis: 100% !important;
    }
}

.gform_footer {
    &.top_label {
        @include breakpoint($mobile-break) {
            text-align: center;
        }
    }
}

// DONATE BY CHECK

.check {
    padding-top: 16px;

    h3 {
        padding-bottom: 2rem;

        span {
            color: $color2;
            text-transform: uppercase;
            padding-bottom: 2rem;
            font: $h3 !important;
        }
    }

    .check-inner {
        padding: $col-vw / 2;
        padding-top: ($col-vw / 2) !important;
    }
}

// other ways to give
#ct_section_19_post_166 {
    h1 {
        margin-bottom: 2rem;
    }

    .ct-div-block {
        &.point {
            padding-left: $col-vw * 0.75;
            position: relative;

            @include padding-bottom($col-vw / 2);

            &:last-child {
                padding-bottom: 0 !important;
            }

            &::before {
                content: url("/wp-content/uploads/2018/10/WEB_SupportTEC_04.svg");
                width: $col-vw * 0.35;
                height: $col-vw * 0.35;
                position: absolute;
                left: 0;
                top: 0;
            }

            .ct-text-block {
                margin-top: 2rem;
            }
        }
    }
}

// cta
#ct_section_43_post_166 {
    .button {
        margin-top: 2rem;
    }
}