/******************************************************************

Stylesheet: TEC Encounters

Styles for Pray For TEC page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.lb-row-intro {
    padding-bottom: 0 !important;

    h1 {
        padding-bottom: 0 !important;
    }

    h2 {
        color: $color3;
        padding-bottom: 2rem !important;
    }

    .ct-text-block {
        padding-bottom: 2rem !important;

        span {
            font-family: $primary-bold;
        }
    }
}

.lb-row-info {
    background-color: $white;

    #ct_text_block_74_post_82 {
        padding-bottom: 0;

        @include padding-top($col-vw);
    }
}

#ct_code_block_143_post_82 {
    ul {
        margin-bottom: 0;
    }
}

.accordions {
    //@include padding-top($col-vw);
    @include padding-bottom($col-vw);
}

#ct_text_block_182_post_82 {
    @include padding-bottom($col-vw);
}
#ct_text_block_184_post_82{
    @include padding-top($col-vw/2);
    @include padding-bottom($col-vw/2);
}

// last section
#ct_section_145_post_82 {
    @include padding-bottom($col-vw / 2);

    #ct_image_147_post_82 {
        @include padding-bottom($col-vw);
    }

    #ct_div_block_152_post_82 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        &::after {
            display: none;
        }

        #ct_text_block_154_post_82 {
            display: inline-block;
            width: auto;
        }
    }
}

.lb-row-map {
    background-color: $white;

    .ct-code-block {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 35px;
        height: 0;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
    }
}