/******************************************************************

Stylesheet: Volunteer

Styles for Volunteer page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.ct-section-inner-wrap {

    h2 {
        @include breakpoint($tablet-break) {
            font: $h3 !important;
        }
    }

    .lb-two-col-text {
        &.left {
            .ct-column {
                &:last-child {
                    min-height: $col-vw * 3.5;
                }
            }
        }

        &.right {
            .ct-column {
                &:first-child {
                    min-height: $col-vw * 3.5;
                }
            }
        }
    }
}

#ct_section_8_post_84 {
    .ct-text-block {        
       color: $white;
   }    
}