/******************************************************************

Site Name:TEC

Stylesheet: Accordions

******************************************************************/
.accordions {
    margin: 0;
    padding: 0;

    .accordion {
        list-style: none;
        margin-bottom: 1px;

        &:last-child {
            margin-bottom: 0;
        }

        .accordion-title {
            padding: 1em ($col-vw / 2);
            background: $color1;
            color: $white;
            font-family: $primary-bold;
            position: relative;
            cursor: pointer;
            margin: 0;

            &::after {
                content: url('/wp-content/uploads/2018/11/accordion-chevron.svg');
                position: absolute;
                width: 1.25rem;
                height: auto;
                right: $col-vw / 2;
                top: 50%;
                transform: translateY(-50%);
                transition: $transition;
            }

            &.active {
                &::after {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }

        .accordion-body {
            // overflow: hidden;
            // transition: $transition;
            display: none;

            .accordion-body-inner {
                padding: $col-vw / 2;
                background: $gray;

                @include breakpoint($tablet-break) {
                    padding: $col-vw ($col-vw / 1.5);
                }


                @include breakpoint($mobile-break) {
                   padding: $col-vw ($col-vw / 2);
                }


                p {
                    &:first-child {
                       // margin-top: 0;
                    }

                    &:last-child {
                      //  margin-bottom: 0;
                    }
                }
            }
        }
    }
}