/******************************************************************

Site Name:TEC

Stylesheet: Row - Blog

******************************************************************/
// As seen on Homepage and Partnership pages and maybe more?

.blog-header {
    background-color: $white;

    .ct-section-inner-wrap {
        max-width: 100%;
        padding: 0 $col-vw;
    }

    .search-form {
        width: 60%;
        max-width: 450px;
        margin: 0 auto;
        padding: ($col-vw / 2) 0 0;

        @include breakpoint($tablet-break) {
            width: 100%;
        }


        @include breakpoint($mobile-break) {
            padding-top: $col-vw;
        }


        .screen-reader-text,
        input[type='submit'] {
            display: none;
        }

        input[type='text'] {
            width: 100%;
            border-radius: 40px;
            line-height: 47px;
            padding: 0 2rem;
            border: 2px solid $gray;
            font-family: $primary;
            font-weight: 900;
            transition: $transition;

            &::placeholder {
                color: $gray;
            }

            &:focus {
                border: 2px solid $black;
            }
        }
    }

    .lb-tabs {
        padding: 0 !important;

        .lb-tab-nav {
            @include breakpoint($mobile-break) {
                padding: $col-vw 0 0 !important;
            }
        }

        #category-filter {
            .ct-columns-inner-wrap {
                &::before {
                    display: none;
                }
            }

            .ct-div-block {
                @include breakpoint(1110px) {
                    padding-left: 0 !important;
                }


                a {
                    color: $black;
                    display: inline-block;

                    //font-size: 0.762em;
                    font-size: 0.8889999999999999em;
                    margin: 0 ($col-vw / 8.25);
                    font-weight: 900;
                    font-family: $primary-bold;
                    text-decoration: none;
                    padding-bottom: 0;
                    position: relative;
                    overflow: hidden;
                    transform: translate3d(0, 0, 0);

                    @include breakpoint($mobile-break) {
                        margin: 0 ($col-vw / 4);
                    }


                    &::after {
                        content: '';
                        width: 100%;
                        height: 2px;
                        background-color: $color1;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        transform: translateX(-102%);
                        transition: $transition-slow;
                    }

                    &:hover,
                    &.active {
                        &::after {
                            transform: translateX(0);
                        }
                    }

                    &#testimonies,
                    &#uncategorized {
                        display: none;
                    }
                }
            }
        }
    }
}

// ALT COLOUR SCHEME ON BLOG PAGE

#ct_code_block_4_post_181 {
    .lb-blog {
        article {
            &:nth-child(odd) {
                .lb-blog-cols {
                    background-color: #fff;
                    color: $black;
                }
            }

            &:nth-child(even) {
                .lb-blog-cols {
                    background-color: $color2;
                }
            }
        }
    }
}

.lb-blog {
    article {
        padding: 0 !important;
        margin: 0 !important;
        border: 0 !important;

        &:nth-child(odd) {
            .lb-blog-cols {
                background-color: $color3;
                color: $white;
            }
        }

        &:nth-child(even) {
            .lb-blog-cols {
                background-color: $color2;
                color: $white;
            }
        }

        .lb-blog-cols {
            display: flex;
            flex-wrap: wrap;

            // &.red {
            //     background-color: $color1;
            //     color: $white;
            // }

            .lb-column {
                width: $col * 6;
                box-sizing: border-box;

                @include breakpoint($tablet-break) {
                    width: $col * 12;
                }


                &.image {
                    background-position: top center;
                    background-size: cover;

                    @include breakpoint($tablet-break) {
                        height: $col-vw * 7;
                    }


                    @include breakpoint($mobile-break) {
                        height: $col-vw * 10;
                    }
                }

                &.info {
                    padding: ($col-vw / 2) $col-vw;
                    position: relative;

                    @include breakpoint($tablet-break) {
                        padding: $col-vw ($col-vw * 2);
                    }


                    @include breakpoint($mobile-break) {
                        padding-left: $col-vw;
                        padding-right: $col-vw;

                        @include padding-top($col-vw);
                        @include padding-bottom($col-vw);
                    }


                    .post-contents {
                        font: $body-font;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        span {
                            display: flex;
                            flex-wrap: wrap;
                        }
                    }

                    h3 {
                        margin: 0;
                        padding-bottom: 1rem;

                        a {
                            font: $h3;
                            color: $white;
                            text-decoration: none;
                            border: 0 !important;
                        }
                    }

                    .button {
                        margin-top: 1.25rem;
                        margin-bottom: 1.25rem;
                    }

                    .date {
                        color: $white;
                    }

                    .categories {
                        margin-top: 0;
                        bottom: $col-vw / 2;
                        text-align: left;

                        a {
                            margin: 0 0.2rem;
                            display: inline-block;
                            color: $white;

                            span {
                                word-break: initial;
                                overflow-wrap: normal;
                                font-weight: 900 !important;
                                color: #bdbdbd !important;
                                font-family: $primary !important;
                                text-transform: none !important;
                            }

                            &:not(:last-child) {
                                span {
                                    &::after {
                                        content: ',';
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &:nth-child(even) {
            .lb-blog-cols {
                flex-direction: row;

                @include breakpoint($tablet-break) {
                    flex-direction: column-reverse;
                }


                .info {
                    .post-contents {
                        align-items: flex-end;

                        @include breakpoint($tablet-break) {
                            align-items: flex-end;
                        }


                        span {
                            justify-content: flex-end;
                        }
                    }

                    .lb-post-content {
                        padding-left: $col-vw;
                        text-align: right;

                        @include breakpoint($tablet-break) {
                            text-align: right;
                            padding-left: 0;
                        }
                    }

                    .categories {
                        left: $col-vw / 2;
                        text-align: right;
                    }

                    .date {
                        @include breakpoint($tablet-break) {
                            text-align: right;
                        }
                    }
                }
            }
        }

        &:nth-child(odd) {
            .lb-blog-cols {
                flex-direction: row-reverse;

                @include breakpoint($tablet-break) {
                    flex-direction: column-reverse;
                }


                .info {
                    .lb-post-content {
                        padding-right: $col-vw;

                        @include breakpoint($tablet-break) {
                            padding-right: 0;
                        }
                    }

                    .date {
                        text-align: right;
                        right: $col-vw / 2;
                    }
                }
            }
        }
    }
}