/******************************************************************

Site Name: TEC

Stylesheet: Buttons

******************************************************************/

// edit buttons in the mixin page
.button {
    @include btn($color1, $white);
    font-family: $primary-bold;

    &.white {
        @include btn($white, $color1);

        &::after {
            background: $white !important;
        }

        &.blue {
            @include btn($white, $color2);

            &::after {
                background: $white !important;
            }
        }

        &.light-blue {
            @include btn($white, $color3);

            &::after {
                background: $white !important;
            }
        }
    }
}