/******************************************************************

Site Name: TEC

Stylesheet: Calendar

******************************************************************/
#tribe-events {
    .tribe-events-page-title {
        font: $h1 !important;
        margin: 0 !important;
        padding-bottom: 2rem;
        text-transform: uppercase;

        .parent {
            font-size: 50%;
            line-height: 1;
            margin-bottom: 5px;
        }
    }

    .tribe-events-user-recurrence-toggle,
    #tribe-bar-views {
        display: none !important;
    }

    .tribe-bar-filters {
        background-color: $color3;
        width: 100% !important;
        left: initial !important;
        right: initial !important;
        padding: ($col-vw / 2) $col-vw;

        .tribe-bar-search-filter {
            display: none !important;
        }

        .tribe-bar-filters-inner {
            display: flex;
            align-items: center;

            > div {
                width: calc(100% / 3);
                padding: 0;

                label {
                    font: $h4;
                    font-weight: 900 !important;
                    color: $white;
                    text-align: left;
                }

                input[type='text'] {
                    color: $white;
                    font: $body-font;
                    border-bottom: $border-width solid $gray;
                    margin-right: 1rem;
                    width: auto;

                    &:focus {
                        border: 0 !important;
                        border-bottom: $border-width solid $gray !important;
                        outline: none !important;
                    }

                    &::-webkit-input-placeholder {
                        /* Chrome/Opera/Safari */
                        color: $white;
                    }
                }

                input[type='submit'].tribe-events-button {
                    background: transparent !important;
                    color: $white;
                    font: $body-font;
                    text-transform: uppercase;
                    font-weight: 900 !important;
                }
            }
        }
    }

    // list veiw
    .tribe-events-content {
        @include breakpoint($tablet-break-sml + 1) {
            text-align: right;
        }
    }

    .tribe-events-nav-left,
    .tribe-events-nav-right {
        a {
            background: transparent !important;
            color: $color1 !important;
            border: 0 !important;
        }
    }

    .tribe-events-list-event-description {
        @include breakpoint($tablet-break) {
            text-align: left;
        }


        @include breakpoint($mobile-break) {
            text-align: center;
            padding: 0 $col-vw;
        }


        @include breakpoint(400px) {
            padding: 0 ($col-vw / 2);
        }


        a {
            margin-top: 1rem !important;
            &:last-child {
                margin-left: 1.5rem;

                @include breakpoint($mobile-break) {
                    margin-left: 0;
                }
            }
        }
    }

    .tribe-events-loop {
        .tribe-events-list-separator-month {
            margin-top: 2.25rem;
            width: 100%;
            display: block;
            text-align: center;
            position: relative;
            background-color: $white;

            &::before {
                content: '';
                width: 100%;
                height: $border-width;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: $color1;
                z-index: 1;
            }

            span {
                font: $h3;
                color: $color1;
                display: inline-block;
                background-color: $white;
                position: relative;
                z-index: 2;
                padding: 0 1.75rem;
                text-transform: capitalize;
            }
        }

        .type-tribe_events {
            border: 0 !important;
            padding-left: calc(50px + #{$col-vw / 3});
            text-align: left;
            position: relative;
            margin: 0 $col-vw;

            @include breakpoint($mobile-break) {
                padding: $col-vw;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
            }


            &::before {
                content: url('/wp-content/uploads/2018/03/gold-calendar.svg');
                width: 50px;
                display: block;
                position: absolute;
                left: 0;
                top: 2.25em;

                @include breakpoint($mobile-break) {
                    position: unset;
                }
            }

            .tribe-events-event-meta {
                background: transparent !important;
                border: 0 !important;
            }

            .tribe-events-list-event-title {
                margin: 0;
                padding-bottom: 0.5rem;
                line-height: 1.4rem !important;

                @include breakpoint($mobile-break) {
                    padding-top: 1.5rem;
                    width: 100%;
                }


                a {
                    font: $h4;
                    font-weight: 900;
                    color: $color3;

                    &:hover {
                        color: $color2;
                    }
                }

                .tribe-event-url {
                    font: $h4;
                    font-weight: 900;
                    color: $color3;
                }
            }

            .tribe-events-list {
                a {
                    margin-top: 1rem;
                }
            }

            .tribe-event-schedule-details {
                margin-bottom: 0.5rem;
            }

            .tribe-events-venue-details {
                margin: 0;
                border: 0 !important;

                a {
                    font: $body-font;
                    color: $color-p;
                    font-style: italic !important;
                }
            }

            .location {
                font: $h6;
                font-weight: 900;
            }

            .tribe-events-read-more {
                display: none;
            }
        }
    }

    // Intranet Calendar
    &[data-category="intranet"] {
        .tribe-events-list-event-description {
            display: none;
        }
        .event-is-recurring {
            display: none;
        }
    }
}

.lb-go-to-calendar {
    text-align: center;
    position: relative;

    &::before {
        content: '';
        width: 100%;
        height: $border-width;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: $color1;
        z-index: 1;
    }

    > div {
        display: inline-block;
        background-color: $white;
        padding: 0 1.75rem;
        position: relative;
        z-index: 2;
    }
}

.tribe-events-ical {
    @include btn($color1, $white);

    @include breakpoint($mobile-break) {
        display: none !important;
    }
}