/******************************************************************

Site Name:TEC

Stylesheet: Global Footer

******************************************************************/

.lb-footer {
    // padding: ($col-vw / 2) 0;
    padding: 75px 0;
    background-color: $color3;

    @include breakpoint($laptop-break) {
        padding: 80px 0;
    }

    @include breakpoint($tablet-break-sml) {
        padding: 58px 0;
    }

    @include breakpoint($mobile-break) {
        padding: 50px 0;
    }


    .lb-tec-logo {
        // padding-bottom: $col-vw / 2;
        padding-bottom: 45px;

        @include breakpoint($laptop-break) {
            padding-bottom: 40px;
        }

        @include breakpoint($mobile-break) {
            padding-bottom: 30px;
        }


        .ct-columns-inner-wrap {
            align-items: center;
            justify-content: space-between;
            display: flex !important;
            flex-wrap: wrap;

            width: $col-vw * 5;
            min-width: 800px;
            margin: auto;
            padding: 0 ($col-vw / 8.25);

            @include breakpoint($laptop-break) {
                justify-content: center;
                width: auto;
                min-width: auto;
                padding: 0;
            }

            .ct-column {
                width: auto !important;
                display: flex;
                justify-content: center;

                @include breakpoint($laptop-break) {
                    width: 110px !important;
                }

                @include breakpoint($tablet-break) {
                    width: 97px !important;
                }

                @include breakpoint($mobile-break) {
                    width: 120px !important;
                }

                .button {
                    height: 30px !important;
                    line-height: 30px !important;
                    padding: 0 1.6rem;

                    &:hover {
                        color: $color3 !important;
                    }
                }

                &:nth-child(2) {
                    justify-content: flex-end;

                    @include breakpoint($mobile-break) {
                        justify-content: center;
                    }
                }


                &:nth-child(2) {
                    width: auto !important;
                    margin: 0 ($col-vw * .75) !important;

                    @include breakpoint($tablet-break) {
                        margin: 0 $col-vw !important;
                    }

                    a {
                        img {
                            width: 100%;
                            opacity: 1;
                            transition: $transition-slow;

                            @include breakpoint($tablet-break) {
                                width: 83px;
                                // margin-bottom: $col-vw / 2;
                            }

                            @include breakpoint($mobile-break) {
                                width: 60px;
                                margin-bottom: 30px;
                            }
                        }

                        &:hover {
                            img {
                                opacity: 0.5;
                            }
                        }
                    }
                }

                @include breakpoint($mobile-break) {
                    &:nth-child(2) {
                        order: 1;
                        width: 100% !important;
                        margin-bottom: $col-vw / 2;
                    }

                    &:nth-child(1) {
                        order: 2;
                    }

                    &:nth-child(3) {
                        order: 3;
                    }
                }
            }
        }
    }

    .lb-footer-menu {
        // padding-bottom: $col-vw / 2;
        padding-bottom: 40px;

        @include breakpoint($laptop-break) {
            padding-bottom: 35px;
        }

        @include breakpoint($mobile-break) {
            padding-bottom: 25px;
        }

        .menu-main-menu-container {
            .menu {
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: space-between;

                width: $col-vw * 5;
                min-width: 800px;
                margin: auto;

                @include breakpoint($laptop-break) {
                    justify-content: center;
                    width: auto;
                    min-width: auto;
                }

                @include breakpoint($tablet-break-sml) {
                    display: block;
                    margin: 0 auto;
                    text-align: center;

                    width: $col-vw * 8;
                }

                @include breakpoint($mobile-break) {
                    // display: block;
                    // margin: 0 auto;
                    // text-align: center;

                    width: 100%;
                }


                li {
                    display: block;

                    @include breakpoint($tablet-break-sml) {
                        display: inline-block;
                    }

                    @include breakpoint($mobile-break) {
                        display: block;
                    }

                    &.menu-item-175,
                    &.menu-item-176,
                    &.menu-item-1578 {
                        display: none !important;
                    }

                    a {
                        font-family: $primary-bold;
                        @include font-size(18px, 16px, 16px, 16px);
                        white-space: nowrap;
                        color: $white;
                        // font-size: 0.762em;
                        margin: 0 ($col-vw * .125);
                        font-weight: 900;
                        text-decoration: none;
                        display: inline-block;
                        padding-bottom: 3px;
                        overflow: hidden;
                        transform: translate3D(0, 0, 0);

                        @include breakpoint($laptop-break) {
                            margin: 0 ($col-vw * .175);
                        }

                        @include breakpoint($tablet-break-sml) {
                            margin: ($col-vw * .125) ($col-vw * .33);
                        }

                        @include breakpoint($mobile-break) {
                            margin: 3px 0;
                        }

                        &:after {
                            content: '';
                            width: 100%;
                            height: 2px;
                            background-color: $white;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            transform: translateX(-102%);
                            transition: $transition-slow;
                        }

                        &:hover {
                            &:after {
                                transform: translateX(0);
                            }
                        }
                    }
                }
            }
        }
    }

    .lb-social {
        .ct-column {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                color: $white;
                // margin: 0 ($col-vw / 5);
                margin: 0 ($col-vw / 8);
                // opacity: 1;
                transition: $transition;

                svg, svg > path {
                    transition: $transition;
                }

                &:hover {
                    // opacity: 0.5;
                    svg, svg > path {
                        fill: $color4;
                    }
                }

                @include breakpoint($laptop-break) {
                    margin: 0 ($col-vw / 4);
                }

                @include breakpoint($mobile-break) {
                    margin: 0 14px;
                }

                svg {
                    height: 30px !important;
                    // width: auto;
                    width: 30px !important;

                    @include breakpoint($laptop-break) {
                        height: 26px !important;
                    }

                    @include breakpoint($mobile-break) {
                        height: 18px !important;
                    }

                    &.ct-FontAwesomeicon-twitter {
                        width: 28px !important;
                        @include breakpoint($laptop-break) {
                            width: 25px !important;
                        }
                        @include breakpoint($mobile-break) {
                            width: 16px !important;
                        }
                    }

                    &.ct-FontAwesomeicon-instagram {
                        width: 30px !important;
                        @include breakpoint($laptop-break) {
                            width: 26px !important;
                        }
                        @include breakpoint($mobile-break) {
                            width: 18px !important;
                        }
                    }
                }

                .ct-code-block {
                    // Youtube custom SVG icon, visually taller than others
                    display: flex !important;

                    svg {
                        height: 28px !important;

                        @include breakpoint($laptop-break) {
                            height: 24px !important;
                        }

                        @include breakpoint($mobile-break) {
                            height: 16px !important;
                        }
                    }
                }
            }
        }
        //temporarily hide YouTube icon
        #ct_link_39_post_27 {
            display: none;
        }
    }
}