/******************************************************************

Site Name:TEC

Stylesheet: Gravity Form Styles

For universal gravity forms style overrides. For individual page form overrides please use the specific page SCSS file.

This is not an exhaustive list. 
For other GF CSS classes, go here: https://www.gravityhelp.com/documentation/article/css-targeting-samples/

******************************************************************/

/*********************
GRAVITY FORM UNIVERSAL STYLES
*********************/
body .gform_wrapper {
    img.gform_ajax_spinner {
        display: none !important;
    }

    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
    textarea,
    select {
        background: transparent;
        border: none;
        border-bottom: $border-width solid $gray;
        color: $color-p;
        transition: $transition;
        padding: 5px 5px 24px 5px;
        font: $h3 !important;
        border-radius: 0 !important;

        @include breakpoint($mobile-break) {
            font-size: 1.2rem !important;
        }


        &::-webkit-input-placeholder {
            color: $gray;
        }

        &:hover,
        &:focus {
            outline: none !important;
            border-bottom-color: $color-p;
        }
    }

    .gform_title {
        color: $color2;
    }

    .gfield.show-label {
        label {
            display: block !important;
            font-family: $primary;
        }
    }

    .gform_confirmation_message {
        h3 {
            padding: $col-vw / 2;
        }
    }

    // PAYMENT FIELD STYLES

    .ginput_container_singleproduct,
    .ginput_container_total,
    .ginput_container_product_calculation {
        span {
            font-family: $primary !important;
            font-weight: 800 !important;
            font-size: 1.2rem;
        }
    }

    // PAYMENT FIELD STYLE END

    .gfield_radio {
        li {
            input[type=radio] {
                display: none;

                &:checked {
                    + label:before {
                        background: $color1;
                        border-color: $color1;
                    }
                }

                &:hover {
                    + label:before {
                        border-color: $color1;
                    }
                }
            }

            label {
                position: relative;
                font: $h3 !important;
                padding-left: 2em;
                color: $color1;

                &:before {
                    content: '';
                    width: calc(1em / 1.5);
                    height: calc(1em / 1.5);
                    border: $border-width solid $color1;
                    border-radius: 100%;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: $transition;
                }
            }
        }
    }

    &.white_wrapper {
        .gform_description {
            color: $white;
        }

        input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
        textarea {
            color: $white;

            &:hover,
            &:focus {
                outline: none !important;
                border-bottom-color: $white;
            }
        }

        select {}
    }

    &.gform_validation_error {
        .validation_error {
            border: none !important;
        }

        .gfield_error {
            background-color: transparent !important;
            border: none !important;

            input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
            textarea {
                color: #790000 !important;
                border: none;
                border-bottom: $border-width solid #790000 !important;

                &::-webkit-input-placeholder {
                    color: #790000 !important;
                }
            }
        }
    }

    .ginput_container_creditcard {
        span.ginput_card_expiration_container {
            padding-top: 1.4rem !important;

            select {
                height: 60px;

                @include breakpoint($tablet-break) {
                    height: 55px;
                }
            }
        }

        span.ginput_cardextras {
            display: flex;

            @include breakpoint($mobile-break) {
                display: block;
            }
        }
    }
}

// forms that are in modals (our team page)
.popup {
    .gform_wrapper {
        input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
        textarea,
        select {
            padding: 0.5rem 0.5rem 1rem 0.5rem;
            font: $body-font !important;

            &::-webkit-input-placeholder {
                color: $gray;
            }
        }
    }
}

.gform_footer {
    .button {
        box-sizing: content-box !important;
    }
}

.lb-has-label {
    label {
        padding-bottom: ($col-vw / 4) !important;
    }
}

.ginput_preview {
  display: flex;
  float: left;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;

  img.gform_delete {
    max-width: 20px;
    height: 20px;
    margin-right: 10px;
    display: block;
  }
}

/********************* 
ACTIVE STATES
*********************/

// spacing out the password
input[type='password'] {
    letter-spacing: 0.3em;
}
