/******************************************************************

Site Name:TEC

Stylesheet: Global Header

******************************************************************/

/*********************
Header
*********************/
.lb-header {
    padding: 30px $col-vw;
    background-color: $color1;

    @include breakpoint($tablet-break) {
        // padding: 15px $col-vw;
        // height: 80px;
        padding: 25px $col-vw;
        height: 100px;
    }

    @include breakpoint($mobile-break) {
        padding: 5px $col-vw;
        height: 60px;
    }


    .ct-section-inner-wrap {
        .ct-columns {
            @include breakpoint($tablet-break) {
                display: block !important;
            }
        }

        #ct_columns_30_post_27 {
            position: relative;
            z-index: 9999;
        }
    }

    .ct-columns-inner-wrap {
        display: flex !important;
        align-items: center;

        .logo {
            height: 90px;
            width: 200px !important;

            @include breakpoint($laptop-break) {
                height: 60px;
                width: 133px;
            }

            @include breakpoint($mobile-menu-break) {
                height: 40px;
                width: 88px;
            }

            @include breakpoint($mobile-break) {
                height: 26px;
                width: 57px;
            }


            img {
                // width: 140px;
                height: 90px;
                width: 200px;

                @include breakpoint($laptop-break) {
                    height: 60px;
                    width: 133px;
                }

                @include breakpoint($mobile-menu-break) {
                    height: 40px;
                    width: 88px;
                }

                @include breakpoint($mobile-break) {
                    height: 26px;
                    width: 57px;
                }
            }
        }

        .ct-column.menu {
            width: calc(100% - 140px) !important;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}

/*********************
Desktop Navigation
*********************/

.lb-header {
    .menu {
        .menu-main-menu-container {
            @include breakpoint($mobile-menu-break) {
                display: none;
            }


            #menu-main-menu {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-left: 0;

                li {
                    display: block;
                    position: relative;

                    &.menu-item-175,
                    &.menu-item-176,
                    &.menu-item-1578,
                    &.menu-item-2413,
                    &.menu-item-2451 {

                        height: 34px !important;

                        // @include breakpoint($laptop-break) {
                        //     height: 30px !important;
                        // }

                        a {
                            @include btn($white, $color1);

                            font-size: 0.762em !important;
                            margin: 0 ($col-vw / 8.25);
                            padding: 5px 16px !important;
                            transition: $transition-slow !important;

                            height: 18px !important;
                            line-height: 18px !important;

                            @include breakpoint($laptop-break) {
                                height: 14px !important;
                                line-height: 14px !important;
                            }

                            &::after {
                                background: $white !important;
                            }
                        }
                    }

                    &.menu-item-2413,
                    &.menu-item-1578,
                    &.menu-item-2451 {
                        a {
                            margin-right: 0;
                        }
                    }

                    &.current_page_item,
                    &.current_page_parent {
                        > a {
                            &::after {
                                transform: translateX(0);
                            }
                        }

                        &.menu-item-175,
                        &.menu-item-176,
                        &.menu-item-1578,
                        &.menu-item-2413,
                        &.menu-item-2451 {
                            a {
                                color: $color1 !important;
                                border-color: $white !important;
                            }
                        }
                    }

                    a {
                        color: $white;

                        //font-size: 0.762em;
                        font-size: 0.8889999999999999em;
                        margin: 0 ($col-vw / 8.25);
                        font-weight: 900;
                        font-family: $primary-bold;
                        text-decoration: none;
                        padding-bottom: 0;
                        position: relative;
                        display: block;
                        overflow: hidden;
                        transform: translate3d(0, 0, 0);

                        &::after {
                            content: '';
                            width: 100%;
                            height: 2px;
                            background-color: $white;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            transform: translateX(-102%);
                            transition: $transition-slow;
                        }

                        &:hover {
                            &::after {
                                transform: translateX(0);
                            }
                        }
                    }

                    &:hover {
                        .sub-menu {
                            visibility: visible;
                            opacity: 1;
                            transition-delay: 0s;
                        }
                    }

                    &.menu-item-23 {
                        .sub-menu {
                            width: 270px;
                        }
                    }

                    .sub-menu {
                        visibility: hidden;
                        opacity: 0;
                        position: absolute;
                        -webkit-padding-start: 0;
                        top: 1.75em;
                        background-color: $white;
                        width: 240px;
                        padding: 5px 0;
                        transition: $transition;
                        z-index: 999;
                        box-shadow: 0 3px 6px transparentize($black, 0.84);

                        li {
                            padding: 5px 10px;
                            display: block;

                            a {
                                display: inline-block;
                                width: auto;
                                color: $color1;
                                transform: translate3d(0, 0, 0);

                                &::after {
                                    background-color: $color1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*********************
Tablet/Mobile Navigation
*********************/
.lb-mobile-btn {
    display: none;
    width: 26px;
    height: 100%;
    padding: 15px 0;
    cursor: pointer;

    &:hover {
        div {
            &:nth-child(2) {
                transform: scaleX(1) translate3d(0, 0, 0);
            }
        }
    }

    div {
        height: 2px;
        width: 100%;
        background-color: $white;

        &:nth-child(1) {
            margin-bottom: 7px;
            transform-origin: right center;
            transition: $transition;
        }

        &:nth-child(2) {
            transform: scaleX(1.3) translate3d(0, 0, 0);
            transform-origin: right center;
            opacity: 1;
            transition: $transition;
        }

        &:nth-child(3) {
            margin-top: 7px;
            transform-origin: right center;
            transition: $transition;
        }
    }

    &.active {
        div {
            &:nth-child(1) {
                transform: rotate(-45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(45deg);
            }
        }
    }

    @include breakpoint($mobile-menu-break) {
        display: block;
    }
}

.lb-mobile-menu {
    display: none;
    width: 100%;
    transition: $transition-slow;
    position: absolute;
    left: 0;
    top: 80px;
    opacity: 0;
    visibility: hidden;
    padding: ($col-vw / 2) $col-vw;
    z-index: 999;
    pointer-events: none;
    background: $color1;
    box-shadow: 0 3px 6px transparentize($black, 0.84);
    transform: translateY(-50%);

    @include breakpoint($mobile-menu-break) {
        display: inline-block;
    }


    &.active {
        opacity: 1;
        pointer-events: initial;
        visibility: visible;
        transform: translateY(0);
    }

    .menu {
        padding: 40px 0;
        margin: 0;
        width: 100%;

        li {
            list-style: none;
            position: relative;
            overflow: hidden;
            transition: $transition-slow;
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }

            &.current_page_item,
            &.current_page_parent {
                > a {
                    text-decoration: underline;
                }
            }

            a {
                color: $white;
                text-decoration: none;
                display: block;
                width: 100%;
                font-size: 1.5rem !important;
                padding: 3px 0;
            }

            &.menu-item-has-children {
                cursor: pointer;

                &::before {
                    content: '+';
                    position: absolute;
                    right: 0;
                    color: $white;
                    padding: 0 20px;
                    font-size: 1.25rem;
                    line-height: 14px;
                    font-weight: 200;
                }

                &.active {
                    &::before {
                        content: '-';
                        font-size: 2rem;
                        transform: translateY(-3px);
                    }
                }

                a {
                    display: inline-block;
                    width: 100%;
                }
            }

            .sub-menu {
                padding-top: 1rem;
                padding-bottom: 0.5rem;
                width: 100%;
                overflow: hidden;
                display: none;
            }
        }
    }

    &.active {
        visibility: visible;
        opacity: 1;
    }
}