/******************************************************************

Site Name:TEC

Stylesheet: Intranet Header

******************************************************************/

.intranet-header {
	background-color: $color3;
	padding-left: $col-vw;
	padding-right: $col-vw;

	// @include breakpoint($mobile-break) {
 //        padding-left: $col-vw * 2;
	// 	padding-right: $col-vw * 2;
 //    }
	
	.ct-section-inner-wrap {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		height: 140px;
		max-width: unset;

		&::after {
			display: none;
		}

		@include breakpoint($laptop-break) {
            height: 100px;
        }
        @include breakpoint($tablet-break) {
            height: auto;
            padding: 26px 0;
            align-items: flex-start;
        }

		@include breakpoint($mobile-break) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
	}

	.welcome {
		margin-right: $col-vw / 2;

		h3 {
			margin: 0 !important;
			// font: $h3 !important;
			@include font-size(40px, 28px, 25px, 21px);

			@include breakpoint($mobile-break) {
				text-align: center;
	        }
		}

		@include breakpoint($mobile-break) {
            margin-bottom: 15px;
            margin-right: 0;
        }

        .display-name {
        	font-family: $primary !important;
        	font-style: italic;
        }

	}

	.intranet-menu {
		display: flex;
		flex-direction: row;
		align-items: center;
	    justify-content: flex-end;
		flex: 1;

		@include breakpoint($tablet-break) {
			flex-wrap: wrap;
    		// justify-content: flex-end;
		}

		@include breakpoint($mobile-break) {
			justify-content: center;
		}

		.intranet-menu-item {
			&.back-to-home {
				svg {
					height: 28px !important;
					width: 28px !important;
					@include breakpoint($laptop-break) {
			            height: 22px !important;
			            width: 22px !important;
			        }
			        @include breakpoint($mobile-break) {
			            height: 21px !important;
			            width: 21px !important;
			        }
				}

				@include breakpoint($tablet-break) {
					order: 3;
					margin-right: 0 !important;
				    flex: 100%;
				    display: flex;
				    justify-content: flex-end;
				    display: flex;
				    margin-top: 14px;
				}
				@include breakpoint($mobile-break) {
					justify-content: center;
				}
			}

			> a {
				display: flex;
				flex-direction: row;
				align-items: center;

				&:hover {
					.menu-label > * {
						color: $color4 !important;
					}

					.menu-icon > svg > g > * {
						stroke: $color4;
					}
					.menu-icon > svg {
						fill: $color4;
					}
				}
			}
			
			&:not(:last-child) {
				margin-right: 50px;
				@include breakpoint($laptop-break) {
		            margin-right: 30px;
		        }
			}

			.menu-icon {
				display: flex;
				line-height: 1;
				margin-right: 15px;

				svg {
					transition: $transition;
					height: 30px;
					width: 30px;
					@include breakpoint($laptop-break) {
			            height: 25px;
			            width: 25px;
			        }
			        @include breakpoint($mobile-break) {
			            height: 23px;
			            width: 23px;
			        }

			        > g > * {
			        	transition: $transition;
			        }
				}	
			}

			.menu-label > * {
				font-size: 1rem !important;
				margin: 0 !important;
				white-space: nowrap;
				transition: $transition;

				// @include font-size(21px, 16px, 16px, 14px);

			}
		}
	}
}

// Intranet Variables
// Intranet Body / Content Padding & Spacings

$row-gap-desktop: 50px;
$row-gap-laptop: 40px;
$row-gap-tablet: 30px;
$row-gap-mobile: 30px;

.intranet-body {
	background-color: $white;
	// padding: ($col-vw * .75) $col-vw;
	padding: ($row-gap-desktop * 2) $col-vw;

	@include breakpoint($laptop-break) {
		// padding: $col-vw;
		padding: ($row-gap-laptop * 2) $col-vw;
	}

	@include breakpoint($tablet-break) {
		padding: ($row-gap-tablet * 2) $col-vw;
	}

	// @include breakpoint($mobile-break) {
	// 	padding: ($col-vw * 1.5) $col-vw;
	// }

	> .ct-section-inner-wrap {
		max-width: unset !important;
	}
}