/******************************************************************

Site Name:TEC

Stylesheet: Modal

As seen on Our Team page for contacting the team leaders

******************************************************************/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;

    .popup-inner {
        margin: ($col-vw / 2) auto;
        padding: ($col-vw / 2) $col-vw;
        background: $white;
        // height: calc(100vh - #{$col-vw});
        width: $col-vw * 10;
        overflow: scroll;
        position: relative;

        .popup-close {
            position: absolute;
            top: 25px;
            right: 25px;
            width: 25px;
            height: 20px;
            color: $white;
            opacity: 1;
            transition: $transition;

            &:hover {
                opacity: 0.5;
            }

            &:before {
                content: '';
                width: 100%;
                height: 2px;
                background: $color2;
                position: absolute;
                top: 0;
                left: 0;
                transform-origin: center left;
                transform: rotate(45deg);
            }

            &:after {
                content: '';
                width: 100%;
                height: 2px;
                background: $color2;
                position: absolute;
                bottom: 0;
                left: 0;
                transform-origin: center left;
                transform: rotate(-45deg);
            }
        }
    }
}