/******************************************************************

Site Name:TEC

Stylesheet: Row - Intro

******************************************************************/
// as seen on
.lb-row-pray {
    background-color: $color1;
    position: relative;
    overflow: hidden;
    padding-top: $col-vw;
    padding-bottom: $col-vw;

    @include breakpoint($mobile-break) {
        @include padding-top($col-vw);
        @include padding-bottom($col-vw);
    }


    &::before {
        content: url('/wp-content/uploads/2018/03/wheat-light-white.svg');
        position: absolute;
        width: $col-vw * 2;
        left: $col-vw * 2.5;
        bottom: -20px;
    }

    .ct-section-inner-wrap {
        padding: 0 ($col-vw * 3);

        @include breakpoint($tablet-break) {
            padding: 0 $col-vw;
        }


        .gform_footer {
            text-align: center;
        }
    }

    .button {
        margin-top: 2rem;
    }
}