/******************************************************************

Site Name:TEC

Stylesheet: Rows & Columns

******************************************************************/

.ct-section {
    @include background-colors;
    @include paddings;
    @include margins;
    @include gutters;

    background-size: cover !important;
    background-position: center !important;

    &.white-text {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            color: $white !important;
        }
    }

    &.center-content {
        .ct-section-inner-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .ct-column {
        background-size: cover !important;
        background-position: center !important;
    }
}