/******************************************************************

Site Name:TEC

Stylesheet: Row - Intro

******************************************************************/
// as seen on
.lb-row-intro {
    padding: $col-vw 0;
    background-color: $white;
    overflow: hidden;

    @include breakpoint($tablet-break) {
        padding: ($col-vw * 1.5) 0;
    }


    @include breakpoint($mobile-break) {
        padding: ($col-vw * 2) 0;
    }


    .ct-section-inner-wrap {
        padding: 0 ($col-vw * 2);

        @include breakpoint($tablet-break) {
            padding: 0 ($col-vw * 1.5);
        }


        @include breakpoint($mobile-break) {
            padding: 0 $col-vw;
        }


        .ct-column {
            text-align: center;

            .button {
                margin-top: $para-space * 2;
            }

            .ct-headline {
                padding-bottom: $header-space;
            }

            .ct-text-block {
                padding: 0 $col-vw;
            }
        }
    }

    .gform_wrapper {
        padding: ($col-vw / 2) $col-vw;
        background-color: $white;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
        border-radius: 30px;
        margin: 0 !important;
        margin-top: $col-vw !important;

        @include breakpoint($tablet-break) {
            //box-shadow: none;
            //padding: 0;
        }


        #gform_3.gform_heading {
            display: none !important;
        }

        #field_4_1 {
            margin: 0 !important;

            label {
                display: none !important;
            }
        }

        #field_3_3 {
            padding-top: 35px;

            label {
                display: none !important;
            }

            input {
                margin-bottom: 40px;
            }
        }

        .gform_title {
            font: $h2 !important;
            text-align: center;
        }

        .gform_footer {
            text-align: center;
        }
    }

    // Link tha appears on the volunteer page
    .volunteer-link {
        font: $body-font;
        color: $color3;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}