/******************************************************************

Site Name:TEC

Stylesheet: Row - Intro

******************************************************************/
// as seen on basically all the pages :P
.bubbles {
    position: relative;

    &::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: $col-vw;

        @include breakpoint($mobile-break) {
            display: none !important;
        }
    }

    &::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: $col-vw;

        @include breakpoint($mobile-break) {
            display: none !important;
        }
    }

    &.left {
        &::before {
            content: url('/wp-content/uploads/2018/03/bubbles-left.svg');
            left: -$col-vw / 8;
        }

        &.top-left {
            &::before {
                top: $col-vw;
                transform: translateY(0);
            }
        }

        &.bottom-left {
            &::before {
                bottom: $col-vw;
                transform: translateY(0);
                top: initial;
            }
        }
    }

    &.right {
        &::after {
            content: url('/wp-content/uploads/2018/03/bubbles-right.svg');
            right: -$col-vw / 8;
        }

        &.top-right {
            &::after {
                top: $col-vw;
                transform: translateY(0);
            }
        }

        &.bottom-right {
            &::after {
                bottom: $col-vw;
                transform: translateY(0);
                top: initial;
            }
        }
    }
}