/******************************************************************

Site Name:TEC

Stylesheet: Tabs

******************************************************************/
.lb-tabs {
    background-color: $white;
    padding: 0 $col-vw;

    @include breakpoint($tablet-break) {
        padding: 0;
        padding-bottom: $col-vw;
    }
}

// Navigation
.lb-tab-nav {
    padding: ($col-vw / 2) 0;

    .ct-columns-inner-wrap {
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex !important;

        // &::before {
        //     content: '';
        //     width: 100%;
        //     height: $border-width;
        //     position: absolute;
        //     left: 0;
        //     top: 50%;
        //     transform: translateY(-50%);
        //     background-color: $color1;

        //     @include breakpoint($tablet-break) {
        //         display: none;
        //     }
        // }

        .ct-column {
            display: inline-block;
            width: auto !important;

            @include breakpoint($tablet-break) {
                position: relative;
                width: 100% !important;

                &::before,
                &::after {
                    content: '';
                    width: 1rem;
                    height: 120%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 10;
                    opacity: 1;
                }

                &::before {
                    background: linear-gradient(to right, transparentize($white, 0) 0%, transparentize($white, 1) 100%);
                    left: calc(#{$col-vw} - 2px);
                }

                &::after {
                    background: linear-gradient(to left, transparentize($white, 0) 0%, transparentize($white, 1) 100%);
                    right: $col-vw;
                }
            }


            div {
                display: inline-block;
                width: 100% !important;
                padding: 0 1.75rem;
                background-color: $white;
                position: relative;
                z-index: 2;
                text-align: center;

                @include breakpoint($tablet-break) {
                    white-space: nowrap;
                    overflow: scroll;
                    position: relative;
                    text-align: center;
                }


                @include breakpoint($mobile-break) {
                    width: calc(100% - #{$col-vw * 2}) !important;
                    margin-left: $col-vw;
                }


                // buttons
                a {
                    color: $black;
                    display: inline-block;

                    //font-size: 0.762em;
                    font-size: 0.8889999999999999em;
                    margin: 0 ($col-vw / 8.25);
                    font-weight: 900;
                    font-family: $primary-bold;
                    text-decoration: none;
                    padding-bottom: 0;
                    position: relative;
                    overflow: hidden;
                    transform: translate3d(0, 0, 0);

                    @include breakpoint($mobile-break) {
                        margin: 0 ($col-vw / 4);
                    }


                    &::after {
                        content: '';
                        width: 100%;
                        height: 2px;
                        background-color: $color1;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        transform: translateX(-102%);
                        transition: $transition-slow;
                    }

                    &:hover,
                    &.active {
                        &::after {
                            transform: translateX(0);
                        }
                    }
                }
            }
        }
    }
}

// Body
.lb-tab-body {
    display: none;
    padding: 0 ($col-vw * 1.25) $col-vw;

    @include breakpoint($tablet-break) {
        padding: 0 $col-vw !important;
    }


    &.active {
        display: block;
        animation: lb-fade-in 0.5s;
        animation-fill-mode: forwards;

        @at-root {
            @keyframes lb-fade-in {
                from {
                    transform: translateY(10px);
                    opacity: 0;
                }

                to {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }
}