/******************************************************************

Site Name:TEC

Stylesheet: Testimonies

******************************************************************/
// As seen on Homepage and Partnership pages and maybe more?
.lb-testimonies {
    padding: 0 $col-vw;
    position: relative;

    .slick-arrow {
        cursor: pointer;
        transform: translateX(0);
        transition: $transition;
        position: absolute;

        img {
            width: 50px;

            @include breakpoint($mobile-break) {
                width: 30px;
            }
        }
    }

    .slick-next {
        bottom: 0;
        left: 0;

        &:hover,
        &:focus {
            transform: translateX(-3px);
        }
    }

    .slick-prev {
        top: 0;
        right: 0;

        &:hover,
        &:focus {
            transform: translateX(3px);
        }
    }

    .slick-list {
        position: relative;

        article:not(.bishop) {
            width: $col-vw * 4;
            padding: 10px ($col-vw / 4);
            box-sizing: border-box;

            .lb-image {
                width: $col-vw * 3;
                height: $col-vw * 3.25;
                background-size: cover;
                background-position: center;

                @include image-border;

                @include breakpoint($tablet-break) {
                    width: $col-vw * 6;
                    height: $col-vw * 6;
                }
            }

            .lb-info {
                background-color: $white;
                border-radius: 30px;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
                padding: $col-vw / 4;
                width: $col-vw * 3;
                text-align: center;
                margin-top: -$col-vw;
                margin-left: $col-vw / 2;

                @include breakpoint($tablet-break) {
                    width: $col * 11;
                    margin-left: $col;
                }

                @include breakpoint ($mobile-break) {
                    padding: $col-vw / 2;
                }


                .author {
                    padding-top: $para-space;
                    font-weight: 900;
                    font-family: $primary-bold;
                }
            }
        }
    }
}

// slider for the bishops
.lb-test-bishops {
    padding: 0 $col-vw;
    position: relative;

    .slick-arrow {
        cursor: pointer;
        transform: translateX(0);
        transition: $transition;
        position: absolute;

        img {
            width: 50px;

            @include breakpoint($mobile-break) {
                width: 30px;
            }
        }
    }

    .slick-next {
        bottom: 0;
        left: 0;

        &:hover,
        &:focus {
            transform: translateX(-3px);
        }
    }

    .slick-prev {
        top: 0;
        right: 0;

        &:hover,
        &:focus {
            transform: translateX(3px);
        }
    }

    .slick-list {
        position: relative;

        .slick-track {
            display: flex;
        }

        article.bishop {
            display: flex;
            flex-wrap: wrap;
            height: auto;

            .lb-info {
                width: $col * 6;
                color: $white;
                padding-bottom: $col-vw;

                h2 {
                    text-transform: uppercase !important;
                }

                .author {
                    color: $white;
                    font-weight: 900 !important;
                    padding-top: 1rem;
                }
            }

            .lb-image {
                width: $col * 6;
                height: 500px;
                max-height: 300px;
                background-position: center bottom;
                background-size: cover;
                align-self: flex-end;
            }
        }
    }
}