/******************************************************************

Site Name:TEC

Stylesheet: Row - Two Columns with one text columns and one image column

******************************************************************/
// As seen on Homepage and Partnership pages and maybe more?
.lb-two-col-text {
    background-color: $white;

    &.bubble-image {
        padding-bottom: $col-vw;

        h3 {
            color: $color1;
        }
    }

    &.left {
        .ct-columns-inner-wrap {
            flex-wrap: wrap;

            @include breakpoint($tablet-break) {
                display: flex !important;
                flex-direction: column;
            }


            .ct-column {
                @include breakpoint($tablet-break) {
                    width: 100% !important;
                }


                &:first-child {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: ($col-vw / 2) $col-vw;

                    @include breakpoint($tablet-break) {
                        padding: $col-vw ($col-vw * 2);
                    }


                    @include breakpoint($mobile-break) {
                        padding: $col-vw;
                    }


                    .ct-headline {
                        padding-bottom: $header-space;
                    }

                    .button {
                        margin-top: $para-space * 2;
                    }
                }

                &:last-child {
                    background-size: cover;
                    background-position: center;

                    @include breakpoint($tablet-break) {
                        height: ($col-vw * 5) !important;
                        background-position: center top;
                    }


                    @include breakpoint($mobile-break) {
                        height: ($col-vw * 7) !important;
                    }
                }
            }
        }

        &.bubble-image {
            .ct-columns-inner-wrap {
                padding: 0 $col-vw;
                flex-wrap: wrap;

                @include breakpoint($tablet-break) {
                    display: flex !important;
                    flex-direction: column;
                }


                .ct-column {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    @include breakpoint($tablet-break) {
                        width: 100% !important;
                    }


                    img {
                        width: auto;
                        max-height: 425px;
                    }
                }
            }
        }
    }

    &.right {
        .ct-columns-inner-wrap {
            flex-wrap: wrap-reverse;

            @include breakpoint($tablet-break) {
                display: flex !important;
                flex-direction: column-reverse;
            }


            .ct-column {
                @include breakpoint($tablet-break) {
                    width: 100% !important;
                }


                &:last-child {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: ($col-vw / 2) $col-vw;

                    @include breakpoint($tablet-break) {
                        padding: $col-vw ($col-vw * 2);
                    }


                    @include breakpoint($mobile-break) {
                        padding: $col-vw;
                    }


                    .ct-headline {
                        padding-bottom: $header-space;
                    }

                    .button {
                        margin-top: $para-space * 2;
                    }
                }

                &:first-child {
                    background-size: cover;
                    background-position: center;

                    @include breakpoint($tablet-break) {
                        height: ($col-vw * 5) !important;
                        background-position: center top;

                        @include breakpoint($mobile-break) {
                            height: ($col-vw * 7) !important;
                        }
                    }
                }
            }
        }

        &.bubble-image {
            .ct-columns-inner-wrap {
                padding: 0 $col-vw;
                flex-wrap: wrap-reverse;

                @include breakpoint($tablet-break) {
                    display: flex !important;
                    flex-direction: column-reverse;
                }


                .ct-column {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    @include breakpoint($tablet-break) {
                        width: 100% !important;
                    }


                    img {
                        width: auto;
                        max-height: 425px;
                    }
                }
            }
        }
    }

    img {
        width: 100%;
    }

    &.red {
        background-color: $color1;

        .button {
            @include btn($white, $color1);

            &::after {
                background: $white !important;
            }
        }
    }

    &.blue {
        background-color: $color3;

        .button {
            @include btn($white, $color3);

            &::after {
                background: $white !important;
            }
        }
    }

    &.yellow {
        background-color: $color4;

        .button {
            @include btn($white, $color4);

            &::after {
                background: $white !important;
            }
        }
    }

    &.red,
    &.blue,
    &.yellow {
        .ct-column {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            a {
                color: $white;
            }
        }
    }
}