// This is the base font size that all typographic elements should be scaled to.
html {
    font-size: 18px;

    @include breakpoint($laptop-break) {
        font-size: 16px;
    }


    @include breakpoint($tablet-break) {
        //font-size: 16px;
        font-size: 14.4px;
    }


    @include breakpoint($mobile-break) {
        font-size: 14.4px;
    }


    @include breakpoint(360px) {
        font-size: 12px;
    }
}

body {
    font-family: $body-font;
    font-size: 100%;
    line-height: 1.5;
    color: $color-p;
    background-color: $gray;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    img {
        width: 100%;
        height: auto;
    }
}

*:focus {
    outline: none !important;
}

/*********************
LINK STYLES
*********************/
a,
a:visited {
    color: $color-active;

    /* on hover */
    &:focus,
    &:hover {
        color: $color-hover;
    }

    /* on click */
    &:active {}

    /* mobile tap color */
    &:link {
        /*
        this highlights links on iPhones/iPads.
        so it basically works like the :hover selector
        for mobile devices.
        */
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
    text-rendering: optimizelegibility;
    font-weight: 500;

    @include colors;

    /*
    if you're going to use webfonts, be sure to check your weights
    http://css-tricks.com/watch-your-font-weight/
    */
    /* removing text decoration from all headline links */
    a {
        text-decoration: none;
    }
}

.h1,
h1 {
    color: $color2;

    @include bottoms;

    @include breakpoint($tablet-break) {
        font-size: 2.813rem !important;
    }


    @include breakpoint($mobile-break) {
        font-size: 2.143rem !important;
    }


    &.white {
        color: $white;
    }
}

.h2,
h2 {
    @include bottoms;
    @include breakpoint($tablet-break) {
        font-size: 2.143rem !important;
    }


    @include breakpoint($tablet-break) {
        font-size: 1.5rem !important;
    }


    color: $color2;

    &.white {
        color: $white;
    }
}

.h3,
h3 {
    @include bottoms;
    @include breakpoint($tablet-break) {
        font-size: 1.875rem !important;
    }


    @include breakpoint($mobile-break) {
        font-size: 1.786rem !important;
    }


    &.med-blue {
        color: $color3;
    }

    &.red {
        color: $color2;
    }

    &.white {
        color: $white;
    }
}

.h4,
h4 {
    @include bottoms;

    &.med-blue {
        color: $color3;
    }

    &.red {
        color: $color2;
    }

    &.white {
        color: $white;
    }
}

.h5,
h5 {
    @include bottoms;

    &.grey {
        color: #E5E4E8;
    }

    &.white {
        color: $white;
    }
}

.ct-text-block {
    @include bottoms;
}

